In [1]:
import pandas as pd
import numpy as np
from utils import trajutils

# TRAJUTILS

In [2]:
filename = '/home/nicksson/Git/2_Doutorado/PyRoad/2_tnzlfev2019.csv'

dict_type = {'lat' : np.float32,
             'lon' : np.float32
            }

usecols=["id", "datetime", "lat", "lon"]
df = pd.read_csv(filename, dtype=dict_type, parse_dates=['datetime'], usecols=usecols)

In [3]:
df.head()

       id            datetime      lat        lon
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288

## 1 GENERAL FUCTIONS

####  show trajectories

In [4]:
trajutils.show_trajectories_info(df)

======================= INFORMATION ABOUT DATASET =======================

Number of Rows: 2737386
Number of Ids: 290
Trajectories between 2019-02-01 00:00:02 and 2019-02-28 23:59:53
Bounding Box: (-25.53447, -49.34629, -3.42381, -37.97867)

=========================================================================

#### format labels

In [5]:
dic = trajutils.format_labels(df, current_id='id', current_lat='lat', current_lon='lon', current_datetime='datetime')

#### bbox fuctions

In [6]:
trajutils.get_bbox(df)

(-25.53447, -49.34629, -3.42381, -37.97867)

In [7]:
trajutils.bbox_split(trajutils.get_bbox(df), 2)

const_lat: 11.055330276489258
const_lon: 5.683811187744141

    lat_min    lon_min  lat_max    lon_max
0 -25.53447 -49.346291 -3.42381 -43.662479
1 -25.53447 -43.662479 -3.42381 -37.978668

#### filter

In [8]:
trajutils.filter_by_datetime(df, startDatetime='2019-02-01 00:33:26', endDatetime='2019-02-25 00:36:26', filter_out=False).head()

       id            datetime      lat        lon
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288

In [9]:
trajutils.filter_by_id(df, 'M41859', filter_out=False).head()

       id            datetime      lat        lon
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288

# 2. FUCTIONS TO LAT AND LONG COORDINATES

In [10]:
trajutils.lon2XSpherical(-38.501597)

-4285978.172767829

In [11]:
trajutils.lat2YSpherical(-3.797864)

-423086.2213610324

In [12]:
trajutils.x2LonSpherical(-4285978.17)

-38.50159697513617

In [13]:
trajutils.y2LatSpherical(-423086.2213610324)

-3.7978639999999944

In [14]:
trajutils.show_trajectories_info(df)

======================= INFORMATION ABOUT DATASET =======================

Number of Rows: 2737386
Number of Ids: 290
Trajectories between 2019-02-01 00:00:02 and 2019-02-28 23:59:53
Bounding Box: (-25.53447, -49.34629, -3.42381, -37.97867)

=========================================================================

# 3. CREATING FEATURES BASED ON DATETIME

In [15]:
%%time
trajutils.create_update_tid_based_on_id_datatime(df)

Creating or updating tid feature...


...tid feature was created...

CPU times: user 3.9 s, sys: 157 ms, total: 4.06 s
Wall time: 3.56 s

In [16]:
#%%time
#trajutils.create_update_day_of_the_week_features(df)

In [17]:
#%%time
#trajutils.create_update_time_of_day_features(df)

# 4. CREATING FEATURES BASED ON LAT AND LONG COORDINATES

In [18]:
#%%time
#trajutils.create_update_dist_features(df,label_dtype=np.float32, sort=True)

In [19]:
%%time
trajutils.create_update_dist_time_speed_features(df, label_dtype=np.float64)

Creating or updating distance features in meters...

...Set id as index to increase attribution performance

...Sorting by id and datetime to increase performance

(1439/2737386) 0% in 00:00:00.249 - estimated end in 00:07:53.854
(572347/2737386) 20% in 00:00:00.352 - estimated end in 00:00:01.332
(1105939/2737386) 40% in 00:00:00.439 - estimated end in 00:00:00.648

/home/nicksson/Git/2_Doutorado/PyRoad/utils/trajutils.py:192: RuntimeWarning: invalid value encountered in sqrt
  return 2 * 1000 * earth_radius * np.arctan2(a ** 0.5, (1-a) ** 0.5)

(1643031/2737386) 60% in 00:00:00.541 - estimated end in 00:00:00.360
(2193264/2737386) 80% in 00:00:00.633 - estimated end in 00:00:00.157
(2737386/2737386) 100% in 00:00:00.723 - estimated end in 00:00:00.000
...Reset index


Creating or updating time and speed features in meters by seconds

...Set id as index to better peformance

(1439/2737386) 0% in 00:00:00.250 - estimated end in 00:07:56.139
(572347/2737386) 20% in 00:00:00.275 - estimated end in 00:00:01.042
(1105939/2737386) 40% in 00:00:00.296 - estimated end in 00:00:00.436
(1643031/2737386) 60% in 00:00:00.318 - estimated end in 00:00:00.212
(2193264/2737386) 80% in 00:00:00.341 - estimated end in 00:00:00.084
(2737386/2737386) 100% in 00:00:00.364 - estimated end in 00:00:00.000
...Reset index...

CPU times: user 4.05 s, sys: 228 ms, total: 4.28 s
Wall time: 3.04 s

In [20]:
#%%time
#trajutils.create_update_move_and_stop_by_radius(df, radius=0, target_label='speed_to_prev')

# 5. DATA CLEANING BY ID

In [21]:
#%%time
#trajutils.clean_duplicates(df,['id', 'datetime'], inplace=True)

In [22]:
#%%time
#trajutils.clean_NaN_values(df, inplace=False)

In [23]:
#%%time
#trajutils.clean_gps_nearby_points(df)

In [24]:
#%%time
#trajutils.clean_gps_jumps_by_distance(df)

In [25]:
#%%time
#trajutils.clean_gps_speed_max_radius(df)

# 6. DATA CLEANING BY TID

In [26]:
#%%time
#trajutils.clean_trajectories_with_few_points(df, min_points_per_trajectory=500)

In [27]:
#%%time 
#trajutils.clean_short_and_few_points_trajectories(df)

# 7. SPLIT TRAJECTORIES

In [28]:
#%%time
#trajutils.split_trajectories(df, label_new_id='tid_part')

# 8. TRANFORMATION

### Distance

In [44]:
trajutils.transform_dist_from_meters_to_kilometers(df, label_distance='dist_to_prev')

In [46]:
trajutils.transform_dist_from_to_kilometers_to_meters(df, label_distance='dist_to_prev', new_label='dist_m')

### Time

In [29]:
trajutils.transform_time_from_seconds_to_minutes(df, label_time='time_to_prev')

In [30]:
trajutils.transform_time_from_minute_to_hours(df, label_time='time_to_prev')

In [31]:
trajutils.transform_time_from_hours_to_minute(df, label_time='time_to_prev')

In [32]:
trajutils.transform_time_from_minute_to_seconds(df, label_time='time_to_prev')

In [33]:
trajutils.transform_time_from_seconds_to_hours(df, label_time='time_to_prev')

In [34]:
trajutils.transform_time_from_hours_to_seconds(df, label_time='time_to_prev')

In [35]:
trajutils.transform_time_from_seconds_to_minutes(df, label_time='time_to_prev', new_label='time_m')

In [36]:
df.head()

,id,datetime,lat,lon,tid,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_next,time_m,speed_to_next,speed_to_prev
0,M00238,2019-02-25 00:00:31,-3.68337,-38.667709,M002382019-02-25,NaN,0.000000,NaN,60.0,NaN,0.000000,NaN
1,M00238,2019-02-25 00:01:31,-3.68337,-38.667709,M002382019-02-25,0.000000,0.000000,0.000000,60.0,1.0,0.000000,0.00000
2,M00238,2019-02-25 00:02:31,-3.68337,-38.667709,M002382019-02-25,0.000000,0.000000,0.000000,60.0,1.0,0.000000,0.00000
3,M00238,2019-02-25 00:03:31,-3.68337,-38.667709,M002382019-02-25,0.000000,3.152399,3.152399,60.0,1.0,0.052540,0.00000
4,M00238,2019-02-25 00:04:31,-3.68335,-38.667728,M002382019-02-25,3.152399,3.466966,3.581089,60.0,1.0,0.057783,0.05254

### Speed

In [38]:
trajutils.transform_speed_from_ms_to_kmh(df, label_speed='speed_to_prev')

In [42]:
trajutils.transform_speed_from_ms_to_kmh(df, label_speed='speed_to_prev', new_label='speed_ms')

In [48]:
filter_ = (df.shift(1) != df).any(axis=1)

In [51]:
df[~filter_].shape[0]

0

In [ ]:
#def range_query(df_, lat, lon, startDatetime, endDatetime, radius):
    # filter dataframe by datetime

In [ ]:
#df_filter = trajutils.filter_by_datetime(df, '2019-02-02 00:31:26', '2019-02-02 05:31:26')

In [ ]:
#df_filter.shape[0]