In [15]:
import pandas as pd
import numpy as np
from utils import maputils, trajutils
import mplleaflet as mpl

In [16]:
filename = ''

dict_type = {'lat' : np.float32,
             'lon' : np.float32
            }

usecols=["id", "datetime", "lat", "lon"]
df = pd.read_csv(filename, dtype=dict_type, parse_dates=['datetime'], usecols=usecols)

In [17]:
df.head()

       id            datetime      lat        lon
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288

In [18]:
trajutils.create_update_tid_based_on_id_datatime(df)

Creating or updating tid feature...


...tid feature was created...

# 1. Show Trajectories

In [19]:
df_aux, fig = maputils.show_traj_id(df, 'M418592019-02-02')
mpl.show()

# 2. Save Map

In [20]:
df.head()

       id            datetime      lat        lon               tid
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281  M418592019-02-02
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281  M418592019-02-02
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281  M418592019-02-02
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281  M418592019-02-02
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288  M418592019-02-02

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2737386 entries, 0 to 2737385
Data columns (total 5 columns):
id          object
datetime    datetime64[ns]
lat         float32
lon         float32
tid         object
dtypes: datetime64[ns](1), float32(2), object(2)
memory usage: 83.5+ MB

In [22]:
df_ = df[df['tid'] == 'M418592019-02-02']

In [23]:
df_.loc[:'lat']

             id            datetime      lat        lon               tid
0        M41859 2019-02-02 00:31:26 -3.69871 -38.586281  M418592019-02-02
1        M41859 2019-02-02 00:32:26 -3.69871 -38.586281  M418592019-02-02
2        M41859 2019-02-02 00:33:26 -3.69871 -38.586281  M418592019-02-02
3        M41859 2019-02-02 00:34:26 -3.69871 -38.586281  M418592019-02-02
4        M41859 2019-02-02 00:35:26 -3.69871 -38.586288  M418592019-02-02
5        M41859 2019-02-02 00:36:26 -3.69872 -38.586288  M418592019-02-02
6        M41859 2019-02-02 00:37:26 -3.69872 -38.586288  M418592019-02-02
7        M41859 2019-02-02 00:38:26 -3.69872 -38.586288  M418592019-02-02
8        M41859 2019-02-02 00:39:26 -3.69871 -38.586288  M418592019-02-02
9        M41859 2019-02-02 00:40:26 -3.69872 -38.586288  M418592019-02-02
10       M41859 2019-02-02 00:41:26 -3.69872 -38.586288  M418592019-02-02
11       M41859 2019-02-02 00:42:26 -3.69873 -38.586281  M418592019-02-02
12       M41859 2019-02-02 00:43:26 -3.69873 -38.586281  M418592019-02-02
13       M41859 2019-02-02 00:44:26 -3.69873 -38.586300  M418592019-02-02
14       M41859 2019-02-02 00:45:26 -3.69874 -38.586281  M418592019-02-02
15       M41859 2019-02-02 00:46:26 -3.69873 -38.586281  M418592019-02-02
16       M41859 2019-02-02 00:47:26 -3.69874 -38.586281  M418592019-02-02
17       M41859 2019-02-02 00:48:26 -3.69872 -38.586281  M418592019-02-02
18       M41859 2019-02-02 00:49:26 -3.69874 -38.586281  M418592019-02-02
19       M41859 2019-02-02 00:50:26 -3.69873 -38.586281  M418592019-02-02
20       M41859 2019-02-02 00:51:26 -3.69873 -38.586281  M418592019-02-02
21       M41859 2019-02-02 00:52:26 -3.69873 -38.586281  M418592019-02-02
22       M41859 2019-02-02 00:53:26 -3.69875 -38.586262  M418592019-02-02
23       M41859 2019-02-02 00:54:26 -3.69875 -38.586269  M418592019-02-02
24       M41859 2019-02-02 00:55:26 -3.69874 -38.586269  M418592019-02-02
25       M41859 2019-02-02 00:56:26 -3.69874 -38.586269  M418592019-02-02
26       M41859 2019-02-02 00:57:26 -3.69874 -38.586269  M418592019-02-02
27       M41859 2019-02-02 00:58:26 -3.69874 -38.586269  M418592019-02-02
28       M41859 2019-02-02 00:59:26 -3.69875 -38.586269  M418592019-02-02
29       M41859 2019-02-02 01:00:26 -3.69875 -38.586269  M418592019-02-02
...         ...                 ...      ...        ...               ...
1765434  M41859 2019-02-02 00:01:26 -3.69875 -38.586361  M418592019-02-02
1765435  M41859 2019-02-02 00:02:26 -3.69875 -38.586361  M418592019-02-02
1765436  M41859 2019-02-02 00:03:26 -3.69875 -38.586361  M418592019-02-02
1765437  M41859 2019-02-02 00:04:26 -3.69875 -38.586361  M418592019-02-02
1765438  M41859 2019-02-02 00:05:26 -3.69871 -38.586269  M418592019-02-02
1765439  M41859 2019-02-02 00:06:26 -3.69875 -38.586250  M418592019-02-02
1765440  M41859 2019-02-02 00:07:26 -3.69875 -38.586250  M418592019-02-02
1765441  M41859 2019-02-02 00:08:26 -3.69875 -38.586250  M418592019-02-02
1765442  M41859 2019-02-02 00:09:26 -3.69875 -38.586250  M418592019-02-02
1765443  M41859 2019-02-02 00:10:26 -3.69875 -38.586250  M418592019-02-02
1765444  M41859 2019-02-02 00:11:26 -3.69875 -38.586250  M418592019-02-02
1765445  M41859 2019-02-02 00:12:26 -3.69876 -38.586300  M418592019-02-02
1765446  M41859 2019-02-02 00:13:26 -3.69874 -38.586311  M418592019-02-02
1765447  M41859 2019-02-02 00:14:26 -3.69872 -38.586288  M418592019-02-02
1765448  M41859 2019-02-02 00:15:26 -3.69876 -38.586288  M418592019-02-02
1765449  M41859 2019-02-02 00:16:26 -3.69874 -38.586281  M418592019-02-02
1765450  M41859 2019-02-02 00:17:26 -3.69871 -38.586281  M418592019-02-02
1765451  M41859 2019-02-02 00:18:26 -3.69874 -38.586311  M418592019-02-02
1765452  M41859 2019-02-02 00:19:26 -3.69874 -38.586281  M418592019-02-02
1765453  M41859 2019-02-02 00:20:26 -3.69872 -38.586269  M418592019-02-02
1765454  M41859 2019-02-02 00:21:26 -3.69868 -38.586269  M418592019-02-02
1765455  M41859 2019-02-02 00:22:26 -3.69871 -38.586281  M418592019-02-02
1765456  M41859 2019-02-02 00:23:26 -3.69871 -38.586281  M418592019-02-02
1765457  M41859 2019-02-02 00:24:26 -3.69871 -38.586281  M418592019-02-02
1765458  M41859 2019-02-02 00:25:26 -3.69872 -38.586269  M418592019-02-02
1765459  M41859 2019-02-02 00:26:26 -3.69872 -38.586269  M418592019-02-02
1765460  M41859 2019-02-02 00:27:26 -3.69871 -38.586281  M418592019-02-02
1765461  M41859 2019-02-02 00:28:26 -3.69871 -38.586281  M418592019-02-02
1765462  M41859 2019-02-02 00:29:26 -3.69871 -38.586281  M418592019-02-02
1765463  M41859 2019-02-02 00:30:26 -3.69871 -38.586281  M418592019-02-02

[1439 rows x 5 columns]

In [24]:
df_['lat'] = df_['lat'].astype('float64')
df_['lon'] = df_['lon'].astype('float64')

/home/nicksson/anaconda3/envs/PyMove/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/nicksson/anaconda3/envs/PyMove/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1439 entries, 0 to 1765463
Data columns (total 5 columns):
id          1439 non-null object
datetime    1439 non-null datetime64[ns]
lat         1439 non-null float64
lon         1439 non-null float64
tid         1439 non-null object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 107.5+ KB

In [26]:
maputils.save_map(df_, file='test.html', label_id='tid')