In [1]:
import pandas as pd
import numpy as np
from utils import maputils, trajutils
import mplleaflet as mpl

In [2]:
filename = '/home/nicksson/Git/2_Doutorado/PyRoad/2_tnzlfev2019.csv'

dict_type = {'lat' : np.float32,
             'lon' : np.float32
            }

usecols=["id", "datetime", "lat", "lon"]
df = pd.read_csv(filename, dtype=dict_type, parse_dates=['datetime'], usecols=usecols)

In [3]:
df.head()

       id            datetime      lat        lon
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288

In [4]:
trajutils.create_update_tid_based_on_id_datatime(df)

Creating or updating tid feature...


...tid feature was created...

# 1. Show Trajectories

In [5]:
df_aux, fig = maputils.show_traj_id(df, 'M418592019-02-02')
mpl.show()

# 2. Save Map

In [7]:
df_.head()

       id            datetime      lat        lon               tid
0  M41859 2019-02-02 00:31:26 -3.69871 -38.586281  M418592019-02-02
1  M41859 2019-02-02 00:32:26 -3.69871 -38.586281  M418592019-02-02
2  M41859 2019-02-02 00:33:26 -3.69871 -38.586281  M418592019-02-02
3  M41859 2019-02-02 00:34:26 -3.69871 -38.586281  M418592019-02-02
4  M41859 2019-02-02 00:35:26 -3.69871 -38.586288  M418592019-02-02

In [13]:
df_ = df[df['tid'] == 'M418592019-02-02']

In [14]:
maputils.save_map(df_, file='test.html', label_id='tid')