In [1]:
import pandas as pd
import numpy as np
import pymove
from pymove.core.dataframe import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
move_df = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime", type="dask")

In [4]:
move_df._data

Dask DataFrame Structure:
                   lat      lon        datetime     id
npartitions=1
0              float64  float64  datetime64[ns]  int64
217652             ...      ...             ...    ...
Dask Name: from_pandas, 1 tasks

In [5]:
move_df_pandas = move_df.convert_to("pandas")

C:\Users\Arina\Desktop\PyMove\pymove\core\dataframe.py:72: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._last_operation_dict = {'name': '', 'time': '', 'mem_usage': ''}

In [6]:
type(move_df_pandas)

pymove.core.dataframe.PandasMoveDataFrame

In [7]:
move_df_pandas.head()

NameError: name 'resource' is not defined

In [8]:
move_df.min().compute()

lat                     22.1476
lon                     113.549
datetime    2008-10-23 05:53:05
id                            1
dtype: object

In [9]:
move_df.max().compute()

lat                     41.1321
lon                     121.156
datetime    2009-03-19 05:46:37
id                            5
dtype: object

In [10]:
move_df.groupby(by="lat").mean()

Dask DataFrame Structure:
                   lon       id
npartitions=1
               float64  float64
                   ...      ...
Dask Name: truediv, 7 tasks

In [11]:
move_df._data.npartitions

1

In [12]:
type(move_df)

pymove.core.dataframe.DaskMoveDataFrame

In [13]:
move_df.get_type()

'dask'

In [14]:
import pandas as pd
import numpy as np
from pymove.utils.trajectories import read_csv
import pymove

In [15]:
# a = pymoread_csv('teste.csv', type='dask')
a = pymove.read_csv('teste.csv')

C:\Users\Arina\Desktop\PyMove\pymove\core\dataframe.py:72: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._last_operation_dict = {'name': '', 'time': '', 'mem_usage': ''}

In [16]:
type(a)

pymove.core.dataframe.PandasMoveDataFrame

In [17]:
a.head()

NameError: name 'resource' is not defined