In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
move_df = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime", type="dask")

In [4]:
move_df._data

Dask DataFrame Structure:
                   lat      lon        datetime     id
npartitions=1
0              float64  float64  datetime64[ns]  int64
217652             ...      ...             ...    ...
Dask Name: from_pandas, 1 tasks

In [5]:
move_df_pandas = move_df.to_pandas()

<class 'pandas.core.frame.DataFrame'>

In [6]:
type(move_df_pandas)

pymove.core.PandasMoveDataFrame.PandasMoveDataFrame

In [7]:
move_df.min().compute()

lat                     22.1476
lon                     113.549
datetime    2008-10-23 05:53:05
id                            1
dtype: object

In [8]:
move_df.max().compute()

lat                     41.1321
lon                     121.156
datetime    2009-03-19 05:46:37
id                            5
dtype: object

In [9]:
move_df.groupby(by="lat").mean()

Dask DataFrame Structure:
                   lon       id
npartitions=1
               float64  float64
                   ...      ...
Dask Name: truediv, 7 tasks

In [10]:
move_df._data.npartitions

1

In [11]:
type(move_df)

pymove.core.DaskMoveDataFrame.DaskMoveDataFrame

In [12]:
move_df.get_type()

'pymove.core.DaskMoveDataFrame.DaskMoveDataFrame'