In [6]:
import pandas as pd
import numpy as np
from pymove import MoveDataFrame

In [7]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [8]:
move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime")

In [9]:
move_df.iloc[:10]

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1
5  39.984710  116.319865 2008-10-23 05:53:23   1
6  39.984674  116.319810 2008-10-23 05:53:28   1
7  39.984623  116.319773 2008-10-23 05:53:33   1
8  39.984606  116.319732 2008-10-23 05:53:38   1
9  39.984555  116.319728 2008-10-23 05:53:43   1

In [10]:
move_df.loc[0, ["lat", "lon"]]

lat    39.9841
lon    116.319
Name: 0, dtype: object

In [11]:
move_df._data.at[0, "lat"]

39.984094

In [12]:
move_df.at[0, 'lat']

39.984094

In [13]:
move_df.columns

Index(['lat', 'lon', 'datetime', 'id'], dtype='object')

In [14]:
move_df.values

array([[39.984094, 116.319236, Timestamp('2008-10-23 05:53:05'), 1],
       [39.984198, 116.319322, Timestamp('2008-10-23 05:53:06'), 1],
       [39.984224, 116.319402, Timestamp('2008-10-23 05:53:11'), 1],
       ...,
       [39.999945000000004, 116.327394, Timestamp('2009-03-19 05:46:12'),
        5],
       [40.000015000000005, 116.32743300000001,
        Timestamp('2009-03-19 05:46:17'), 5],
       [39.999978000000006, 116.32746000000002,
        Timestamp('2009-03-19 05:46:37'), 5]], dtype=object)

In [15]:
move_df.index

RangeIndex(start=0, stop=217653, step=1)

In [17]:
move_df.shape[0]

217653

In [18]:
move_df._data.shape[1]

4

In [19]:
move_df.isin

<bound method PandasMoveDataFrame.isin of               lat         lon            datetime  id
0       39.984094  116.319236 2008-10-23 05:53:05   1
1       39.984198  116.319322 2008-10-23 05:53:06   1
2       39.984224  116.319402 2008-10-23 05:53:11   1
3       39.984211  116.319389 2008-10-23 05:53:16   1
4       39.984217  116.319422 2008-10-23 05:53:21   1
5       39.984710  116.319865 2008-10-23 05:53:23   1
6       39.984674  116.319810 2008-10-23 05:53:28   1
7       39.984623  116.319773 2008-10-23 05:53:33   1
8       39.984606  116.319732 2008-10-23 05:53:38   1
9       39.984555  116.319728 2008-10-23 05:53:43   1
10      39.984579  116.319769 2008-10-23 05:53:48   1
11      39.984579  116.319769 2008-10-23 05:53:51   1
12      39.984577  116.319766 2008-10-23 05:53:53   1
13      39.984611  116.319822 2008-10-23 05:53:58   1
14      39.984959  116.319969 2008-10-23 05:54:03   1
15      39.985036  116.320056 2008-10-23 05:54:04   1
16      39.984741  116.320037 2008-10-23 05:54:05   1
17      39.984620  116.320120 2008-10-23 05:54:07   1
18      39.984530  116.320242 2008-10-23 05:54:11   1
19      39.984508  116.320331 2008-10-23 05:54:16   1
20      39.984537  116.320443 2008-10-23 05:54:21   1
21      39.984529  116.320573 2008-10-23 05:54:26   1
22      39.984466  116.320683 2008-10-23 05:54:30   1
23      39.984409  116.320778 2008-10-23 05:54:34   1
24      39.984320  116.320808 2008-10-23 05:54:38   1
25      39.984252  116.320826 2008-10-23 05:54:43   1
26      39.984238  116.320844 2008-10-23 05:54:48   1
27      39.984232  116.320853 2008-10-23 05:54:53   1
28      39.984246  116.320870 2008-10-23 05:54:58   1
29      39.984266  116.320876 2008-10-23 05:55:03   1
...           ...         ...                 ...  ..
217623  40.001137  116.326452 2009-03-19 05:44:02   5
217624  40.001103  116.326519 2009-03-19 05:44:07   5
217625  40.001126  116.326607 2009-03-19 05:44:12   5
217626  40.001091  116.326667 2009-03-19 05:44:17   5
217627  40.001073  116.326735 2009-03-19 05:44:22   5
217628  40.001073  116.326821 2009-03-19 05:44:27   5
217629  40.001080  116.326905 2009-03-19 05:44:32   5
217630  40.001073  116.326977 2009-03-19 05:44:37   5
217631  40.001064  116.327037 2009-03-19 05:44:42   5
217632  40.001033  116.327062 2009-03-19 05:44:47   5
217633  40.001022  116.327054 2009-03-19 05:44:52   5
217634  40.001022  116.327054 2009-03-19 05:44:55   5
217635  40.001023  116.327058 2009-03-19 05:44:57   5
217636  40.001019  116.327071 2009-03-19 05:45:02   5
217637  40.000759  116.327088 2009-03-19 05:45:07   5
217638  40.000595  116.327066 2009-03-19 05:45:12   5
217639  40.000514  116.327017 2009-03-19 05:45:17   5
217640  40.000457  116.327019 2009-03-19 05:45:22   5
217641  40.000368  116.327072 2009-03-19 05:45:27   5
217642  40.000291  116.327100 2009-03-19 05:45:32   5
217643  40.000205  116.327173 2009-03-19 05:45:37   5
217644  40.000128  116.327171 2009-03-19 05:45:42   5
217645  40.000069  116.327179 2009-03-19 05:45:47   5
217646  40.000001  116.327219 2009-03-19 05:45:52   5
217647  39.999919  116.327211 2009-03-19 05:45:57   5
217648  39.999896  116.327290 2009-03-19 05:46:02   5
217649  39.999899  116.327352 2009-03-19 05:46:07   5
217650  39.999945  116.327394 2009-03-19 05:46:12   5
217651  40.000015  116.327433 2009-03-19 05:46:17   5
217652  39.999978  116.327460 2009-03-19 05:46:37   5

[217653 rows x 4 columns]>

In [20]:
move_df.isin([0, 2])

NameError: name 'resource' is not defined

In [21]:
move_df._data.isin([0, 2])

          lat    lon  datetime     id
0       False  False     False  False
1       False  False     False  False
2       False  False     False  False
3       False  False     False  False
4       False  False     False  False
5       False  False     False  False
6       False  False     False  False
7       False  False     False  False
8       False  False     False  False
9       False  False     False  False
10      False  False     False  False
11      False  False     False  False
12      False  False     False  False
13      False  False     False  False
14      False  False     False  False
15      False  False     False  False
16      False  False     False  False
17      False  False     False  False
18      False  False     False  False
19      False  False     False  False
20      False  False     False  False
21      False  False     False  False
22      False  False     False  False
23      False  False     False  False
24      False  False     False  False
25      False  False     False  False
26      False  False     False  False
27      False  False     False  False
28      False  False     False  False
29      False  False     False  False
...       ...    ...       ...    ...
217623  False  False     False  False
217624  False  False     False  False
217625  False  False     False  False
217626  False  False     False  False
217627  False  False     False  False
217628  False  False     False  False
217629  False  False     False  False
217630  False  False     False  False
217631  False  False     False  False
217632  False  False     False  False
217633  False  False     False  False
217634  False  False     False  False
217635  False  False     False  False
217636  False  False     False  False
217637  False  False     False  False
217638  False  False     False  False
217639  False  False     False  False
217640  False  False     False  False
217641  False  False     False  False
217642  False  False     False  False
217643  False  False     False  False
217644  False  False     False  False
217645  False  False     False  False
217646  False  False     False  False
217647  False  False     False  False
217648  False  False     False  False
217649  False  False     False  False
217650  False  False     False  False
217651  False  False     False  False
217652  False  False     False  False

[217653 rows x 4 columns]

In [22]:
move_df._data.dtypes

lat                float64
lon                float64
datetime    datetime64[ns]
id                   int64
dtype: object

In [ ]:
move_df.get_users_number()

In [ ]:
move_df.to_numpy()

In [ ]:
move_df.write_file("teste.csv")

In [ ]:
move_df.len()

In [ ]:
move_df.to_dict()

In [ ]:
move_df.to_grid(8)

In [ ]:
move_df.get_bbox()

In [ ]:
move_df.generate_tid_based_on_id_datatime()

In [ ]:
move_df.generate_date_features()

In [ ]:
move_df.generate_hour_features()

In [ ]:
move_df.generate_day_of_the_week_features()

In [ ]:
move_df.generate_time_of_day_features()

In [ ]:
move_df.generate_dist_features()

In [ ]:
move_df.generate_dist_time_speed_features()

In [ ]:
move_df.generate_move_and_stop_by_radius()

In [ ]:
move_df.time_interval()

In [ ]:
move_df.plot_all_features()

In [ ]:
move_df.plot_trajs()

In [ ]:
move_df.plot_traj_id("12008102305")

In [ ]:
move_df.show_trajectories_info()

## Novas funções

In [ ]:
move_df.max()

In [ ]:
move_df.reset_index().head()

In [ ]:
move_df.plot(x='lat', y='lon')

In [ ]:
move_df.select_dtypes(include=['float64']).head()

In [ ]:
move_df.sort_values(by="datetime").head()

In [ ]:
move_df.set_index(keys=["datetime"]).head()

In [ ]:
novo = move_df.drop(columns=["lat"])

In [ ]:
novo.head()

In [ ]:
move_df.shift().head()

In [ ]:
move_df.dropna().head()

In [ ]:
move_df.append(move_df._data.loc[0])

In [ ]:
move_df.to_csv()

In [ ]:
move_df.min()

In [ ]:
move_df.count()

In [ ]:
move_df.groupby("lat").mean().head()

In [ ]:
move_df.drop_duplicates().head()

In [ ]:
move_df.astype({"lat":'float64'}).head()

In [ ]:
move_df.duplicated().head()

In [ ]:
move_df.any()

In [ ]:
move_df.isin([39.984094]).head()

In [ ]:
move_df.nunique()

In [ ]:
move_df._data