In [1]:
import pandas as pd
from pymove import MoveDataFrame

C:\Users\Arina\Miniconda3\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime")

TypeError: Can't instantiate abstract class PandasMoveDataFrame with abstract methods last_operation_name

In [ ]:
move_df.get_type()

In [ ]:
type(move_df)

In [ ]:
move_df.show_trajectories_info()

In [ ]:
move_df.head()

In [ ]:
move_df.iloc[:3]

In [ ]:
move_df.loc[0, ["lat", "lon"]]

In [ ]:
move_df.at[0, "lat"]

In [ ]:
move_df.max()

In [ ]:
move_df.min()

In [ ]:
move_df.columns

In [ ]:
move_df.values

In [ ]:
move_df.index

In [ ]:
move_df.shape

In [ ]:
move_df._data.shape[1]

In [ ]:
move_df.isin

In [ ]:
move_df.isin([0, 2])

In [ ]:
move_df.dtypes

In [ ]:
move_df.get_users_number()

In [ ]:
move_df.to_numpy()

In [ ]:
move_df.write_file("teste.csv")

In [ ]:
move_df.len()

In [ ]:
move_df.to_dict()

In [ ]:
move_df.to_grid(8)

In [ ]:
move_df.get_bbox()

In [ ]:
move_df.generate_tid_based_on_id_datatime()

In [ ]:
move_df.generate_date_features()

In [ ]:
move_df.generate_hour_features()

In [ ]:
move_df.generate_day_of_the_week_features()

In [ ]:
move_df.generate_time_of_day_features()

In [ ]:
move_df.generate_dist_features()

In [ ]:
move_df.generate_dist_time_speed_features()

In [ ]:
move_df.generate_move_and_stop_by_radius()

In [ ]:
move_df.time_interval()

In [ ]:
move_df.plot_all_features()

In [ ]:
move_df.plot_trajs()

In [ ]:
move_df.plot_traj_id("12008102305")

In [ ]:
move_df.reset_index().head()

In [ ]:
move_df.plot(x='lat', y='lon')

In [ ]:
move_df.select_dtypes(include=['float64']).head()

In [ ]:
move_df.sort_values(by="datetime").head()

In [ ]:
move_df.set_index(keys=["datetime"]).head()

In [ ]:
novo = move_df.drop(columns=["lat"])

In [ ]:
novo.head()

In [ ]:
move_df.shift().head()

In [ ]:
move_df.dropna().head()

In [ ]:
move_df.append(move_df._data.loc[0])

In [ ]:
move_df.to_csv("arquivo.csv")

In [ ]:
move_df.count()

In [ ]:
move_df.groupby("lat").mean().head()

In [ ]:
move_df.drop_duplicates().head()

In [ ]:
move_df.astype({"lat":'float64'}).head()

In [ ]:
move_df.duplicated().head()

In [ ]:
move_df.any()

In [ ]:
move_df.isin([39.984094]).head()

In [ ]:
move_df.nunique()