In [1]:
import pandas as pd
import numpy as np
from pymove import MoveDataFrame

C:\Users\Arina\Miniconda3\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
move_df = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime", type="dask")

TypeError: Can't instantiate abstract class DaskMoveDataFrame with abstract methods last_operation_name

In [ ]:
move_df.head()

In [ ]:
move_df.min().compute()

In [ ]:
move_df.groupby(by="lat")

In [ ]:
move_df.max().compute()

In [ ]:
move_df_pandas = move_df.convert_to("pandas")

In [ ]:
type(move_df_pandas)

In [ ]:
move_df_pandas.get_type()

In [ ]:
type(move_df)