# Test trajectories

In [1]:
from pymove.utils import trajectories as traj_utils

In [2]:
lista_antiga = [1, 3 , "a",4, 2]
lista_nova = [1, 1, 3]

In [3]:
df_pandas = traj_utils.read_csv('examples/geolife_sample.csv')
type(df_pandas)

pymove.core.dataframe.PandasMoveDataFrame

In [4]:
df_dask = traj_utils.read_csv('examples/geolife_sample.csv', type = "dask")
type(df_dask)

pymove.core.dataframe.DaskMoveDataFrame

In [5]:
traj_utils.fill_list_with_new_values(lista_antiga, lista_nova)
lista_antiga

[1, 1, 3, 4, 2]

In [6]:
resultado = traj_utils.shift(lista_antiga, -2, fill_value=54)

In [7]:
resultado

array([ 3,  4,  2, 54, 54])

In [8]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)

In [9]:
traj_utils.save_bbox(bbox, "test_bbox.txt")

# Test math_utils

In [10]:
from pymove.utils import math as math_utils

In [11]:
import pandas as pd

In [12]:
math_utils.std(400, 4, 2)

9.797958971132712

In [13]:
math_utils.array_sum([2, 3, 4, 5])

14

In [14]:
#math_utils.arrays_avg([2, 3, 4, 5])

In [15]:
math_utils.array_stats([2, 3, 4, 5])

(14, 54, 4)

In [16]:
math_utils.interpolation(2, 3.4, 3.4, 6, 7.9)

14.357142857142858

# Test date_utils

In [17]:
from pymove.utils import datetime
import pandas as pd
from pymove.core.dataframe import MoveDataFrame

In [18]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [19]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")
type(df_move)

pymove.core.dataframe.PandasMoveDataFrame

In [20]:
data = datetime.date_to_str(df_move["datetime"][0])
data

'2008-10-23'

In [21]:
date = datetime.str_to_datetime(data)

In [22]:
datetime.to_str(df_move["datetime"][0])

'2008-10-23 05:53:05'

In [23]:
datetime.to_min(date)

20412000

In [24]:
datetime.min_to_datetime(2)

datetime.datetime(1970, 1, 1, 0, 2)

In [25]:
import datetime as dt
datetime.to_day_of_week_int(dt.dt(2014, 1, 1, 20, 56))

AttributeError: module 'datetime' has no attribute 'dt'

In [26]:
datetime.working_day(df_move["datetime"][0], [df_move["datetime"][1], df_move["datetime"][2]])

True

In [27]:
datetime.now_str()

'2019-10-24 13:24:12'

In [28]:
datetime.deltatime_str(1082.7180936336517)

'00:18:02.718'

In [29]:
datetime.timestamp_to_millis('2015-12-12 08:00:00.123000')

1449907200123

In [30]:
date = datetime.millis_to_timestamp(1449907200123)

In [31]:
datetime.time_to_str(date)

'08:00:00'

In [32]:
tempo = datetime.str_to_time('08:00:00')

In [33]:
datetime.elapsed_time_dt(df_move["datetime"][0])

347182270219

In [34]:
datetime.diff_time(tempo, tempo)

0

## Test conversion

In [35]:
from pymove.utils import conversions

In [36]:
conversions.list_to_str(["arina", 3, 4])

'arina,3,4'

In [37]:
conversions.list_to_csv_str(["arina", 3, 4])

'arina,3,4'

In [38]:
conversions.list_to_svm_line(["arina", 3, 4])

'arina 1:3 2:4'

In [39]:
conversions.lon2XSpherical(df_move["lon"][0])

12948598.120982615

In [40]:
conversions.lat2YSpherical(df_move["lon"][0])

/Users/andrezafernandes/Desktop/PyMove/pymove/utils/conversions.py:103: RuntimeWarning: invalid value encountered in log
  yspherical = 6378137 * np.log(np.tan(np.pi / 4 + np.radians(lat) / 2.0))

nan

In [41]:
conversions.x2LonSpherical(df_move["lon"][0])

0.0010449134753590565

In [42]:
conversions.y2LatSpherical(df_move["lon"][0])

0.0010449134753011343

In [43]:
df_move.generate_dist_time_speed_features()

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.143 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.145

In [44]:
conversions.kmh_to_ms(df_move)

In [45]:
df_move.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,3.802820
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,0.411322
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.101171
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.160537

In [46]:
conversions.ms_to_kmh(df_move)

In [47]:
df_move

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934
...,...,...,...,...,...,...,...
217648,5,39.999896,116.327290,2009-03-19 05:46:02,7.198855,5.0,1.439771
217649,5,39.999899,116.327352,2009-03-19 05:46:07,5.291709,5.0,1.058342
217650,5,39.999945,116.327394,2009-03-19 05:46:12,6.241949,5.0,1.248390
217651,5,40.000015,116.327433,2009-03-19 05:46:17,8.462920,5.0,1.692584
217652,5,39.999978,116.327460,2009-03-19 05:46:37,4.713399,20.0,0.235670

In [48]:
conversions.meters_to_kilometers(df_move)

In [49]:
conversions.meters_to_kilometers(df_move)
conversions.kilometers_to_meters(df_move)
conversions.hours_to_minute(df_move)
conversions.hours_to_seconds(df_move)
conversions.minute_to_hours(df_move)
conversions.minute_to_seconds(df_move)
conversions.seconds_to_hours(df_move)
conversions.seconds_to_minutes(df_move)

In [50]:
df_move

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,0.013690,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,0.007404,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,0.001821,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,0.002890,5.0,0.577934
...,...,...,...,...,...,...,...
217648,5,39.999896,116.327290,2009-03-19 05:46:02,0.007199,5.0,1.439771
217649,5,39.999899,116.327352,2009-03-19 05:46:07,0.005292,5.0,1.058342
217650,5,39.999945,116.327394,2009-03-19 05:46:12,0.006242,5.0,1.248390
217651,5,40.000015,116.327433,2009-03-19 05:46:17,0.008463,5.0,1.692584
217652,5,39.999978,116.327460,2009-03-19 05:46:37,0.004713,20.0,0.235670