In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [5]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [ ]:
move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime")

In [ ]:
move_df_dask = move_df.to_dask()

In [ ]:
type(move_df)

In [ ]:
move_df.get_users_number()

In [ ]:
move_df.to_numpy()

In [ ]:
move_df.write_file("teste.csv")

In [ ]:
move_df.len()

In [ ]:
move_df.to_dict()

In [ ]:
move_df.to_grid(8)

In [ ]:
move_df.get_bbox()

In [ ]:
move_df.generate_tid_based_on_id_datatime()

In [ ]:
move_df.generate_date_features()

In [ ]:
move_df.generate_hour_features()

In [ ]:
move_df.generate_day_of_the_week_features()

In [ ]:
move_df.generate_time_of_day_features()

In [ ]:
move_df.generate_dist_features()

In [ ]:
move_df.generate_dist_time_speed_features()

In [ ]:
move_df.generate_move_and_stop_by_radius()

In [ ]:
move_df.time_interval()

In [ ]:
move_df.plot_all_features()

In [ ]:
move_df.plot_trajs()

In [ ]:
move_df.plot_traj_id("12008102305")

In [ ]:
move_df.show_trajectories_info()

## Novas funções

In [ ]:
move_df.max()

In [ ]:
move_df.reset_index().head()

In [ ]:
move_df.plot(x='lat', y='lon')

In [ ]:
move_df.select_dtypes(include=['float64']).head()

In [ ]:
move_df.sort_values(by="datetime").head()

In [ ]:
move_df.set_index(keys=["datetime"]).head()

In [ ]:
novo = move_df.drop(columns=["lat"])

In [ ]:
novo.head()

In [ ]:
move_df.shift().head()

In [ ]:
move_df.dropna().head()

In [ ]:
move_df.append(move_df._data.loc[0])

In [ ]:
move_df.to_csv("teste.csv")

In [ ]:
move_df.min()

In [ ]:
move_df.count()

In [ ]:
move_df.groupby("lat").mean().head()

In [ ]:
move_df.drop_duplicates().head()

In [ ]:
move_df.astype({"lat":'float64'}).head()

In [ ]:
move_df.duplicated().head()

In [ ]:
move_df.any()

In [ ]:
move_df.isin([39.984094]).head()

In [ ]:
move_df.nunique()

In [ ]:
move_df._data

In [ ]:
type(move_df)

In [ ]:
move_df.get_type()

In [ ]:
import pymove

In [ ]:
df1 = pymove.read_csv("teste.csv")

In [ ]:
type(df1)

In [ ]:
df1.head()

In [ ]:
df2 = pymove.read_csv("teste.csv")

In [ ]:
type(df2)

In [ ]:
df2.head()

----

# Test new data structs

In [2]:
data_list = [[39.984094, 116.319236, '2008-10-23 13:53:05', 1],
             [39.984198, 116.319322, '2008-10-23 13:53:06', 1],
             [39.984224, 116.319402, '2008-10-23 13:53:11', 1],
             [39.984211, 116.319389, '2008-10-23 13:53:16', 1]]

In [3]:
data_list

[[39.984094, 116.319236, '2008-10-23 13:53:05', 1],
 [39.984198, 116.319322, '2008-10-23 13:53:06', 1],
 [39.984224, 116.319402, '2008-10-23 13:53:11', 1],
 [39.984211, 116.319389, '2008-10-23 13:53:16', 1]]

In [4]:
move_df = MoveDataFrame(data=data_list, latitude="lat", longitude="lon", datetime="datetime")

['lat', 'lon', 'datetime', 'id']
         lat         lon             datetime  id
0  39.984094  116.319236  2008-10-23 13:53:05   1
1  39.984198  116.319322  2008-10-23 13:53:06   1
2  39.984224  116.319402  2008-10-23 13:53:11   1
3  39.984211  116.319389  2008-10-23 13:53:16   1

In [8]:
data_dict = df.to_dict(orient='list')
move_df = MoveDataFrame(data=data_dict, latitude="lat", longitude="lon", datetime="datetime")

              lat         lon            datetime  id
0       39.984094  116.319236 2008-10-23 05:53:05   1
1       39.984198  116.319322 2008-10-23 05:53:06   1
2       39.984224  116.319402 2008-10-23 05:53:11   1
3       39.984211  116.319389 2008-10-23 05:53:16   1
4       39.984217  116.319422 2008-10-23 05:53:21   1
5       39.984710  116.319865 2008-10-23 05:53:23   1
6       39.984674  116.319810 2008-10-23 05:53:28   1
7       39.984623  116.319773 2008-10-23 05:53:33   1
8       39.984606  116.319732 2008-10-23 05:53:38   1
9       39.984555  116.319728 2008-10-23 05:53:43   1
10      39.984579  116.319769 2008-10-23 05:53:48   1
11      39.984579  116.319769 2008-10-23 05:53:51   1
12      39.984577  116.319766 2008-10-23 05:53:53   1
13      39.984611  116.319822 2008-10-23 05:53:58   1
14      39.984959  116.319969 2008-10-23 05:54:03   1
15      39.985036  116.320056 2008-10-23 05:54:04   1
16      39.984741  116.320037 2008-10-23 05:54:05   1
17      39.984620  116.320120 2008-10-23 05:54:07   1
18      39.984530  116.320242 2008-10-23 05:54:11   1
19      39.984508  116.320331 2008-10-23 05:54:16   1
20      39.984537  116.320443 2008-10-23 05:54:21   1
21      39.984529  116.320573 2008-10-23 05:54:26   1
22      39.984466  116.320683 2008-10-23 05:54:30   1
23      39.984409  116.320778 2008-10-23 05:54:34   1
24      39.984320  116.320808 2008-10-23 05:54:38   1
25      39.984252  116.320826 2008-10-23 05:54:43   1
26      39.984238  116.320844 2008-10-23 05:54:48   1
27      39.984232  116.320853 2008-10-23 05:54:53   1
28      39.984246  116.320870 2008-10-23 05:54:58   1
29      39.984266  116.320876 2008-10-23 05:55:03   1
...           ...         ...                 ...  ..
217623  40.001137  116.326452 2009-03-19 05:44:02   5
217624  40.001103  116.326519 2009-03-19 05:44:07   5
217625  40.001126  116.326607 2009-03-19 05:44:12   5
217626  40.001091  116.326667 2009-03-19 05:44:17   5
217627  40.001073  116.326735 2009-03-19 05:44:22   5
217628  40.001073  116.326821 2009-03-19 05:44:27   5
217629  40.001080  116.326905 2009-03-19 05:44:32   5
217630  40.001073  116.326977 2009-03-19 05:44:37   5
217631  40.001064  116.327037 2009-03-19 05:44:42   5
217632  40.001033  116.327062 2009-03-19 05:44:47   5
217633  40.001022  116.327054 2009-03-19 05:44:52   5
217634  40.001022  116.327054 2009-03-19 05:44:55   5
217635  40.001023  116.327058 2009-03-19 05:44:57   5
217636  40.001019  116.327071 2009-03-19 05:45:02   5
217637  40.000759  116.327088 2009-03-19 05:45:07   5
217638  40.000595  116.327066 2009-03-19 05:45:12   5
217639  40.000514  116.327017 2009-03-19 05:45:17   5
217640  40.000457  116.327019 2009-03-19 05:45:22   5
217641  40.000368  116.327072 2009-03-19 05:45:27   5
217642  40.000291  116.327100 2009-03-19 05:45:32   5
217643  40.000205  116.327173 2009-03-19 05:45:37   5
217644  40.000128  116.327171 2009-03-19 05:45:42   5
217645  40.000069  116.327179 2009-03-19 05:45:47   5
217646  40.000001  116.327219 2009-03-19 05:45:52   5
217647  39.999919  116.327211 2009-03-19 05:45:57   5
217648  39.999896  116.327290 2009-03-19 05:46:02   5
217649  39.999899  116.327352 2009-03-19 05:46:07   5
217650  39.999945  116.327394 2009-03-19 05:46:12   5
217651  40.000015  116.327433 2009-03-19 05:46:17   5
217652  39.999978  116.327460 2009-03-19 05:46:37   5

[217653 rows x 4 columns]

In [10]:
type(move_df)

pymove.core.PandasMoveDataFrame.PandasMoveDataFrame