In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
from pymove.utils import transformations

In [3]:
from pymove.preprocessing import segmentation

In [4]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217653 entries, 0 to 217652
Data columns (total 4 columns):
lat         217653 non-null float64
lon         217653 non-null float64
datetime    217653 non-null datetime64[ns]
id          217653 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [6]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [ ]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)

In [16]:
df_move._data["lat"][0]

999.0

In [ ]:
segmentation.bbox_split(bbox, 4)

In [ ]:
df_move.generate_dist_time_speed_features()
df_move.generate_dist_features()

In [ ]:
segmentation.segment_trajectory_by_dist_time_speed(df_move)

In [ ]:
segmentation.segment_trajectory_by_speed(df_move)

In [ ]:
segmentation.segment_trajectory_by_time(df_move)

In [ ]:
df_move