In [1]:
import pandas as pd
import numpy as np

In [2]:
from pymove.preprocessing import filter
from pymove.utils import utils

In [3]:
from pymove.utils import transformations

In [4]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984094  116.319236 2008-10-23 05:53:05   1
2  39.984198  116.319322 2008-10-23 05:53:06   1
3  39.984224  116.319402 2008-10-23 05:53:11   1
4  39.984211  116.319389 2008-10-23 05:53:16   1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217654 entries, 0 to 217653
Data columns (total 4 columns):
lat         217654 non-null float64
lon         217654 non-null float64
datetime    217654 non-null datetime64[ns]
id          217654 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [7]:
bbox = utils.get_bbox(df)
bbox

(22.147577, 113.54884299999999, 41.132062, 121.156224)

In [8]:
filter.filter_bbox(df, bbox)

              lat         lon            datetime  id
0       39.984094  116.319236 2008-10-23 05:53:05   1
1       39.984094  116.319236 2008-10-23 05:53:05   1
2       39.984198  116.319322 2008-10-23 05:53:06   1
3       39.984224  116.319402 2008-10-23 05:53:11   1
4       39.984211  116.319389 2008-10-23 05:53:16   1
...           ...         ...                 ...  ..
217649  39.999896  116.327290 2009-03-19 05:46:02   5
217650  39.999899  116.327352 2009-03-19 05:46:07   5
217651  39.999945  116.327394 2009-03-19 05:46:12   5
217652  40.000015  116.327433 2009-03-19 05:46:17   5
217653  39.999978  116.327460 2009-03-19 05:46:37   5

[217654 rows x 4 columns]

In [9]:
from pymove.utils import mem

ModuleNotFoundError: No module named 'psutil'

In [ ]:
filter.filter_by_datetime(df,"2009-03-19 05:45:37", "2009-03-19 05:46:17")

In [ ]:
filter.filter_by_label(df, 116.327219, "lon")

In [ ]:
filter.filter_by_label(df, "2008-10-24 04:12:30" , "datetime")

In [ ]:
filter.filter_by_label(df, "2008-10-24 04:12:30" , "datetime", filter_out=True)

In [ ]:
filter.filter_by_id(df, 5)

In [ ]:
transformations.create_update_tid_based_on_id_datatime(df)

In [ ]:
df.head()

In [ ]:
filter.filter_by_tid(df, "12008102305")

In [ ]:
teste = filter.clean_duplicates(df)
print(teste)

In [ ]:
df.info()

In [ ]:
#perguntar Nickson
df_clean_cons_duplicates = filter.clean_consecutive_duplicates(df, subset = ["lat"])
df_clean_cons_duplicates.info()

In [ ]:
df.info()

In [ ]:
df_clean_cons_duplicates.head()

In [ ]:
teste = filter.clean_NaN_values(df)

In [ ]:
df.info()

In [ ]:
transformations.create_update_tid_based_on_id_datatime(df)

In [ ]:
transformations.create_update_dist_features(df)

In [ ]:
filter.clean_trajectories_with_few_points(df)

In [ ]:
df.info()

In [ ]:
filter.filter_jumps(df, threshold=1.2)

In [ ]:
filter.clean_gps_jumps_by_distance(df)

In [ ]:
filter.clean_trajectories_short_and_few_points_(df)

In [ ]:
transformations.create_update_dist_time_speed_features(df)

In [ ]:
filter.clean_gps_speed_max_radius(df)

In [36]:
transformations.create_update_tid_based_on_id_datatime(df)

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...

In [37]:
transformations.create_update_dist_features(df)

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217654/217654) 100% in 00:00:00.119 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.13499689102172852

In [ ]:
filter.clean_gps_nearby_points_by_distances(df)

In [ ]:
filter.clean_gps_nearby_points_by_speed(df)