In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
data = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [ ]:
type(data)

In [ ]:
help(pd.core.frame.DataFrame.__new__)

In [ ]:
data.write_file("test.csv")

In [ ]:
data.len()

In [ ]:
data.info()

In [ ]:
dicionario = data.to_dict()

In [ ]:
grid = data.to_grid(8)

In [ ]:
grid

In [ ]:
bbox = data.get_bbox()

In [ ]:
bbox

In [ ]:
data.time_interval()

In [ ]:
data.with_move_and_stop_by_radius()

In [ ]:
data.plot_all_features()

In [ ]:
data.plot_trajs()

In [4]:
data.generate_day_of_the_week_features()

Creating or updating day of the week feature...

...the day of the week feature was created...

In [5]:
data.generate_dist_features()

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217653/217653) 100% in 00:00:00.094 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.10201096534729004

In [6]:
data.generate_dist_time_speed_features()

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.220 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.224

In [7]:
data.generate_hour_features()

Creating or updating a feature for hour...

...Hour feature was created...

In [8]:
data.generate_move_and_stop_by_radius()

Creating or updating features MOVE and STOPS...


....There are 14691 stops to this parameters

In [9]:
data.generate_tid_based_on_id_datatime()

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...

In [10]:
data.generate_time_of_day_features()

Creating or updating period feature
...early morning from 0H to 6H
...morning from 6H to 12H
...afternoon from 12H to 18H
...evening from 18H to 24H
...the period of day feature was created

In [11]:
data.generate_update_date_features()

Creating date features...
..Date features was created...