In [13]:
import pandas as pd
import numpy as np

In [14]:
from pymove.preprocessing import segmentation
from pymove.utils import utils
from pymove.utils import transformations

In [15]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984094  116.319236 2008-10-23 05:53:05   1
2  39.984198  116.319322 2008-10-23 05:53:06   1
3  39.984224  116.319402 2008-10-23 05:53:11   1
4  39.984211  116.319389 2008-10-23 05:53:16   1

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217654 entries, 0 to 217653
Data columns (total 4 columns):
lat         217654 non-null float64
lon         217654 non-null float64
datetime    217654 non-null datetime64[ns]
id          217654 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [ ]:
bbox = utils.get_bbox(df)
bbox

In [ ]:
segmentation.bbox_split(bbox, 4)

In [17]:
transformations.create_update_tid_based_on_id_datatime(df)
transformations.create_update_dist_features(df)

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...


Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217654/217654) 100% in 00:00:00.042 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.04308032989501953

In [18]:
transformations.create_update_dist_time_speed_features(df)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217654/217654) 100% in 00:00:00.116 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.118

In [25]:
segmentation.segment_trajectory_by_dist_time_speed(df)
df

Split trajectories
...max_time_between_adj_points: 7200
...max_dist_between_adj_points: 3000
...max_speed: 50.0
...setting id as index
(217654/217654) 100% in 00:00:00.025 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217654, 11)

,id,lat,lon,datetime,tid,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part
0,1,39.984094,116.319236,2008-10-23 05:53:05,12008102305,NaN,0.000000,NaN,NaN,NaN,1
1,1,39.984094,116.319236,2008-10-23 05:53:05,12008102305,0.000000,13.690153,13.690153,0.0,NaN,1
2,1,39.984198,116.319322,2008-10-23 05:53:06,12008102305,13.690153,7.403788,20.223428,1.0,13.690153,1
3,1,39.984224,116.319402,2008-10-23 05:53:11,12008102305,7.403788,1.821083,5.888579,5.0,1.480758,1
4,1,39.984211,116.319389,2008-10-23 05:53:16,12008102305,1.821083,2.889671,1.873356,5.0,0.364217,1
...,...,...,...,...,...,...,...,...,...,...,...
217649,5,39.999896,116.327290,2009-03-19 05:46:02,52009031905,7.198855,5.291709,12.214590,5.0,1.439771,405
217650,5,39.999899,116.327352,2009-03-19 05:46:07,52009031905,5.291709,6.241949,10.400206,5.0,1.058342,405
217651,5,39.999945,116.327394,2009-03-19 05:46:12,52009031905,6.241949,8.462920,14.628012,5.0,1.248390,405
217652,5,40.000015,116.327433,2009-03-19 05:46:17,52009031905,8.462920,4.713399,6.713456,5.0,1.692584,405
217653,5,39.999978,116.327460,2009-03-19 05:46:37,52009031905,4.713399,NaN,NaN,20.0,0.235670,405

In [ ]:
segmentation.segment_trajectory_by_speed(df)

In [ ]:
segmentation.segment_trajectory_by_time(df, max_time_between_adj_points=1)