In [26]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [27]:
from pymove.preprocessing import filter

In [28]:
from pymove.utils import transformations

In [29]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217653 entries, 0 to 217652
Data columns (total 4 columns):
lat         217653 non-null float64
lon         217653 non-null float64
datetime    217653 non-null datetime64[ns]
id          217653 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [31]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [32]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)
bbox

(22.147577, 113.54884299999999, 41.132062, 121.156224)

In [33]:
filter.filter_bbox(df_move, bbox, filter_out = True)

Empty DataFrame
Columns: [lat, lon, datetime, id]
Index: []

In [34]:
filter.filter_by_datetime(df_move,"2009-03-19 05:45:37", "2009-03-19 05:46:17")

              lat         lon            datetime  id
217644  40.000128  116.327171 2009-03-19 05:45:42   5
217645  40.000069  116.327179 2009-03-19 05:45:47   5
217646  40.000001  116.327219 2009-03-19 05:45:52   5
217647  39.999919  116.327211 2009-03-19 05:45:57   5
217648  39.999896  116.327290 2009-03-19 05:46:02   5
217649  39.999899  116.327352 2009-03-19 05:46:07   5
217650  39.999945  116.327394 2009-03-19 05:46:12   5
217651  40.000015  116.327433 2009-03-19 05:46:17   5

In [35]:
filter.filter_by_label(df_move, 116.327219, "lon").head()

             lat         lon            datetime  id
3066   39.979160  116.327219 2008-10-24 06:34:27   1
13911  39.975424  116.327219 2008-10-26 08:18:06   1
16396  39.980411  116.327219 2008-10-27 00:30:47   1
33935  39.975832  116.327219 2008-11-05 11:04:04   1
41636  39.976990  116.327219 2008-11-07 10:34:41   1

In [36]:
teste = filter.filter_by_label(df_move, "2008-10-24 04:12:30" , "datetime")
type(teste)

pandas.core.frame.DataFrame

In [37]:
filter.filter_by_label(df_move, "2008-10-24 04:12:30" , "datetime", filter_out=True).head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [38]:
filter.filter_by_id(df_move, 5).head()

              lat         lon            datetime  id
108607  40.004155  116.321337 2008-10-24 04:12:30   5
108608  40.003834  116.321462 2008-10-24 04:12:35   5
108609  40.003783  116.321431 2008-10-24 04:12:40   5
108610  40.003690  116.321429 2008-10-24 04:12:45   5
108611  40.003589  116.321427 2008-10-24 04:12:50   5

In [39]:
df_move.generate_tid_based_on_id_datatime()
filter.filter_by_tid(df_move, "12008102305")

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...

           lat         lon            datetime  id          tid
0    39.984094  116.319236 2008-10-23 05:53:05   1  12008102305
1    39.984198  116.319322 2008-10-23 05:53:06   1  12008102305
2    39.984224  116.319402 2008-10-23 05:53:11   1  12008102305
3    39.984211  116.319389 2008-10-23 05:53:16   1  12008102305
4    39.984217  116.319422 2008-10-23 05:53:21   1  12008102305
..         ...         ...                 ...  ..          ...
109  39.979758  116.324513 2008-10-23 05:59:47   1  12008102305
110  39.979743  116.324668 2008-10-23 05:59:50   1  12008102305
111  39.979725  116.324794 2008-10-23 05:59:52   1  12008102305
112  39.979691  116.324938 2008-10-23 05:59:54   1  12008102305
113  39.979672  116.325033 2008-10-23 05:59:59   1  12008102305

[114 rows x 5 columns]

In [40]:
df_move.generate_dist_time_speed_features()
df_move.generate_dist_features()

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.103 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.105

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217653/217653) 100% in 00:00:00.058 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.0594632625579834

In [41]:
filter.filter_jumps(df_move).head()

...Filtring jumps

,id,lat,lon,datetime,tid,dist_to_prev,time_to_prev,speed_to_prev,dist_to_next,dist_prev_to_next
148,1,39.970511,116.341455,2008-10-23 10:32:53,12008102310,1452.319115,16256.0,0.089340,1470.641291,71.088460
338,1,39.995042,116.326465,2008-10-23 10:44:24,12008102310,10.801860,5.0,2.160372,10.274331,1.465144
8133,1,39.991075,116.188395,2008-10-25 08:20:19,12008102508,5.090766,5.0,1.018153,6.247860,1.295191
10175,1,40.015169,116.311045,2008-10-25 23:40:12,12008102523,23.454754,1.0,23.454754,24.899678,3.766959
13849,1,39.977157,116.327151,2008-10-26 08:13:53,12008102608,11.212682,1.0,11.212682,10.221164,1.004375

In [42]:
teste = filter.clean_duplicates(df_move)
print(teste)

Remove rows duplicates by subset
...Sorting by id and datetime to increase performance

...There are no GPS points duplicated
None

In [43]:
#perguntar Nickson
filter.clean_consecutive_duplicates(df_move, subset = ["lat"]).head()

,id,lat,lon,datetime,tid,dist_to_prev,time_to_prev,speed_to_prev,dist_to_next,dist_prev_to_next
0,1,39.984094,116.319236,2008-10-23 05:53:05,12008102305,NaN,NaN,NaN,13.690153,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,12008102305,13.690153,1.0,13.690153,7.403788,20.223428
2,1,39.984224,116.319402,2008-10-23 05:53:11,12008102305,7.403788,5.0,1.480758,1.821083,5.888579
3,1,39.984211,116.319389,2008-10-23 05:53:16,12008102305,1.821083,5.0,0.364217,2.889671,1.873356
4,1,39.984217,116.319422,2008-10-23 05:53:21,12008102305,2.889671,5.0,0.577934,66.555997,68.727260

In [44]:
filter.clean_NaN_values(df_move)

In [45]:
filter.clean_gps_jumps_by_distance(df_move)

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217649/217649) 100% in 00:00:00.061 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.06301236152648926

Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

...Dropping 383 rows of gps points

...Rows before: 217649, Rows after:217266, Sum drop:383


Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217266/217266) 100% in 00:00:00.046 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.04790639877319336

Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

...Dropping 3 rows of gps points

...Rows before: 217266, Rows after:217263, Sum drop:386


Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217263/217263) 100% in 00:00:00.073 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.07448983192443848

Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

386 GPS points were dropped

In [46]:
filter.clean_gps_nearby_points_by_distances(df_move)

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217263/217263) 100% in 00:00:00.053 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.0542607307434082

Cleaning gps points from radius of 10.0 meters

...There are 137585 gps points to drop

...Dropping 137585 gps points

...Rows before: 217263, Rows after:79678


Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(79678/79678) 100% in 00:00:00.025 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.02667093276977539

Cleaning gps points from radius of 10.0 meters

...There are 616 gps points to drop

...Dropping 616 gps points

...Rows before: 79678, Rows after:79062


Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(79062/79062) 100% in 00:00:00.030 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.032413482666015625

Cleaning gps points from radius of 10.0 meters

...There are 44 gps points to drop

...Dropping 44 gps points

...Rows before: 79062, Rows after:79018


Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(79018/79018) 100% in 00:00:00.017 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.019205093383789062

Cleaning gps points from radius of 10.0 meters

...There are 0 gps points to drop

In [47]:
filter.clean_gps_nearby_points_by_speed(df_move)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(79018/79018) 100% in 00:00:00.037 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.038

Cleaning gps points using 0.0 speed radius

...There are 0 gps points to drop

In [48]:
filter.clean_gps_speed_max_radius(df_move)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(79018/79018) 100% in 00:00:00.050 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.051

Clean gps points with speed max > 50.0 meters by seconds
...There 123 gps points with speed_max > 50.0

...Dropping 123 rows of jumps by speed max

...Rows before: 79018, Rows after:78895


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78895/78895) 100% in 00:00:00.035 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.037

Clean gps points with speed max > 50.0 meters by seconds
...There 43 gps points with speed_max > 50.0

...Dropping 43 rows of jumps by speed max

...Rows before: 78895, Rows after:78852


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78852/78852) 100% in 00:00:00.035 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.037

Clean gps points with speed max > 50.0 meters by seconds
...There 21 gps points with speed_max > 50.0

...Dropping 21 rows of jumps by speed max

...Rows before: 78852, Rows after:78831


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78831/78831) 100% in 00:00:00.049 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.051

Clean gps points with speed max > 50.0 meters by seconds
...There 7 gps points with speed_max > 50.0

...Dropping 7 rows of jumps by speed max

...Rows before: 78831, Rows after:78824


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78824/78824) 100% in 00:00:00.038 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.039

Clean gps points with speed max > 50.0 meters by seconds
...There 5 gps points with speed_max > 50.0

...Dropping 5 rows of jumps by speed max

...Rows before: 78824, Rows after:78819


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78819/78819) 100% in 00:00:00.039 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.041

Clean gps points with speed max > 50.0 meters by seconds
...There 3 gps points with speed_max > 50.0

...Dropping 3 rows of jumps by speed max

...Rows before: 78819, Rows after:78816


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78816/78816) 100% in 00:00:00.035 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.037

Clean gps points with speed max > 50.0 meters by seconds
...There 3 gps points with speed_max > 50.0

...Dropping 3 rows of jumps by speed max

...Rows before: 78816, Rows after:78813


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78813/78813) 100% in 00:00:00.050 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.052

Clean gps points with speed max > 50.0 meters by seconds
...There 2 gps points with speed_max > 50.0

...Dropping 2 rows of jumps by speed max

...Rows before: 78813, Rows after:78811


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78811/78811) 100% in 00:00:00.034 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.036

Clean gps points with speed max > 50.0 meters by seconds
...There 2 gps points with speed_max > 50.0

...Dropping 2 rows of jumps by speed max

...Rows before: 78811, Rows after:78809


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78809/78809) 100% in 00:00:00.042 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.043

Clean gps points with speed max > 50.0 meters by seconds
...There 2 gps points with speed_max > 50.0

...Dropping 2 rows of jumps by speed max

...Rows before: 78809, Rows after:78807


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78807/78807) 100% in 00:00:00.042 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.043

Clean gps points with speed max > 50.0 meters by seconds
...There 2 gps points with speed_max > 50.0

...Dropping 2 rows of jumps by speed max

...Rows before: 78807, Rows after:78805


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78805/78805) 100% in 00:00:00.046 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.048

Clean gps points with speed max > 50.0 meters by seconds
...There 2 gps points with speed_max > 50.0

...Dropping 2 rows of jumps by speed max

...Rows before: 78805, Rows after:78803


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78803/78803) 100% in 00:00:00.033 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.034

Clean gps points with speed max > 50.0 meters by seconds
...There 1 gps points with speed_max > 50.0

...Dropping 1 rows of jumps by speed max

...Rows before: 78803, Rows after:78802


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(78802/78802) 100% in 00:00:00.037 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.039

Clean gps points with speed max > 50.0 meters by seconds
...There 0 gps points with speed_max > 50.0

In [49]:
filter.clean_trajectories_with_few_points(df_move)

...There are 25 ids with few points

...Tids before drop: 598

...Tids after drop: 573

...Shape - before drop: (78802, 10) - after drop: (78777, 10)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by tid and datetime to increase performance

...Set tid as index to a higher peformance

(78/78777) 0% in 00:00:00.053 - estimated end in 00:00:54.046
(15761/78777) 20% in 00:00:00.077 - estimated end in 00:00:00.309
(31862/78777) 40% in 00:00:00.098 - estimated end in 00:00:00.145
(47444/78777) 60% in 00:00:00.115 - estimated end in 00:00:00.076
(63120/78777) 80% in 00:00:00.153 - estimated end in 00:00:00.038
(78777/78777) 100% in 00:00:00.207 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.211

In [51]:
filter.clean_trajectories_short_and_few_points_(df_move)

Remove short trajectories...

...There are 0 ids with few points

Creating or updating distance, time and speed features in meters by seconds

...Sorting by tid and datetime to increase performance

...Set tid as index to a higher peformance

(78/78679) 0% in 00:00:00.045 - estimated end in 00:00:45.542
(15759/78679) 20% in 00:00:00.066 - estimated end in 00:00:00.264
(31829/78679) 40% in 00:00:00.084 - estimated end in 00:00:00.123
(47399/78679) 60% in 00:00:00.098 - estimated end in 00:00:00.064
(63065/78679) 80% in 00:00:00.130 - estimated end in 00:00:00.032
(78679/78679) 100% in 00:00:00.175 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.178

...Dropping unnecessary trajectories...

...short trajectories and trajectories with a minimum distance (546): 100

...There are 0 tid do drop