In [1]:
import pandas as pd
import numpy as np
from pymove.core.dataframe import MoveDataFrame

In [1]:
from pymove import filters

ImportError: cannot import name 'filters' from 'pymove' (C:\Users\Arina\Desktop\PyMove\pymove\__init__.py)

In [28]:
from pymove import transformations

In [4]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217653 entries, 0 to 217652
Data columns (total 4 columns):
lat         217653 non-null float64
lon         217653 non-null float64
datetime    217653 non-null datetime64[ns]
id          217653 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [6]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

C:\Users\Arina\Desktop\PyMove\pymove\core\dataframe.py:71: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._last_operation_dict = {'name': '', 'time': '', 'mem_usage': ''}

In [7]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)
bbox

(22.147577, 113.54884299999999, 41.132062, 121.156224)

In [10]:
filters.by_bbox(df_move, bbox, filter_out = True)

Empty DataFrame
Columns: [lat, lon, datetime, id]
Index: []

In [12]:
filters.by_datetime(df_move,"2009-03-19 05:45:37", "2009-03-19 05:46:17")

              lat         lon            datetime  id
217644  40.000128  116.327171 2009-03-19 05:45:42   5
217645  40.000069  116.327179 2009-03-19 05:45:47   5
217646  40.000001  116.327219 2009-03-19 05:45:52   5
217647  39.999919  116.327211 2009-03-19 05:45:57   5
217648  39.999896  116.327290 2009-03-19 05:46:02   5
217649  39.999899  116.327352 2009-03-19 05:46:07   5
217650  39.999945  116.327394 2009-03-19 05:46:12   5
217651  40.000015  116.327433 2009-03-19 05:46:17   5

In [13]:
filters.by_label(df_move, 116.327219, "lon").head()

             lat         lon            datetime  id
3066   39.979160  116.327219 2008-10-24 06:34:27   1
13911  39.975424  116.327219 2008-10-26 08:18:06   1
16396  39.980411  116.327219 2008-10-27 00:30:47   1
33935  39.975832  116.327219 2008-11-05 11:04:04   1
41636  39.976990  116.327219 2008-11-07 10:34:41   1

In [14]:
teste = filters.by_label(df_move, "2008-10-24 04:12:30" , "datetime")
type(teste)

pandas.core.frame.DataFrame

In [17]:
filters.by_label(df_move, "2008-10-24 04:12:30" , "datetime", filter_out=True).head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [18]:
filters.by_id(df_move, 5).head()

NameError: name 'filter_by_label' is not defined

In [19]:
df_move.generate_tid_based_on_id_datatime()
filters.by_tid(df_move, "12008102305").head()

NameError: name 'resource' is not defined

In [22]:
filters.outliers(df_move).head()

NameError: name 'resource' is not defined

In [23]:
teste = filters.clean_duplicates(df_move)
print(teste)

Remove rows duplicates by subset
...Sorting by id and datetime to increase performance

NameError: name 'resource' is not defined

In [18]:
# #perguntar Nickson
filters.clean_consecutive_duplicates(df_move, subset = ["lat"]).head()

,id,lat,lon,datetime,tid,dist_to_prev,time_to_prev,speed_to_prev,dist_to_next,dist_prev_to_next
0,1,39.984094,116.319236,2008-10-23 05:53:05,12008102305,NaN,NaN,NaN,13.690153,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,12008102305,13.690153,1.0,13.690153,7.403788,20.223428
2,1,39.984224,116.319402,2008-10-23 05:53:11,12008102305,7.403788,5.0,1.480758,1.821083,5.888579
3,1,39.984211,116.319389,2008-10-23 05:53:16,12008102305,1.821083,5.0,0.364217,2.889671,1.873356
4,1,39.984217,116.319422,2008-10-23 05:53:21,12008102305,2.889671,5.0,0.577934,66.555997,68.727260

In [19]:
filters.clean_NaN_values(df_move)

In [20]:
filters.clean_gps_jumps_by_distance(df_move)

Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

...Dropping 383 rows of gps points

...Rows before: 217649, Rows after:217266, Sum drop:383


Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

383 GPS points were dropped

In [21]:
filters.clean_gps_nearby_points_by_distances(df_move)

Cleaning gps points from radius of 10.0 meters

...There are 137478 gps points to drop

...Dropping 137478 gps points

...Rows before: 217266, Rows after:79788


Cleaning gps points from radius of 10.0 meters

...There are 0 gps points to drop

In [22]:
filters.clean_gps_nearby_points_by_speed(df_move)

Cleaning gps points using 0.0 speed radius

...There are 0 gps points to drop

In [23]:
filters.clean_gps_speed_max_radius(df_move)

Clean gps points with speed max > 50.0 meters by seconds
...There 181 gps points with speed_max > 50.0

...Dropping 181 rows of jumps by speed max

...Rows before: 79788, Rows after:79607


Clean gps points with speed max > 50.0 meters by seconds
...There 0 gps points with speed_max > 50.0

In [24]:
filters.clean_trajectories_with_few_points(df_move)

...There are 24 ids with few points

...Tids before drop: 600

...Tids after drop: 576

...Shape - before drop: (79607, 10) - after drop: (79583, 10)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by tid and datetime to increase performance

...Set tid as index to a higher peformance

(78/79583) 0% in 00:00:00.077 - estimated end in 00:01:19.052
(16348/79583) 20% in 00:00:00.098 - estimated end in 00:00:00.380
(32035/79583) 40% in 00:00:00.122 - estimated end in 00:00:00.181
(47771/79583) 60% in 00:00:00.141 - estimated end in 00:00:00.094
(63950/79583) 80% in 00:00:00.180 - estimated end in 00:00:00.044
(79583/79583) 100% in 00:00:00.242 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.247

In [26]:
filters.clean_trajectories_short_and_few_points_(df_move)

Remove short trajectories...

...There are 0 ids with few points

...Dropping unnecessary trajectories...

...short trajectories and trajectories with a minimum distance (548): 100

...There are 0 tid do drop