In [2]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [3]:
from pymove.utils import mem

In [4]:
mem.get_proc_info()

     user    pid  memory_GB                             kernel_ID
0  392476  17527   0.049218  32868cf3-458d-46e1-b88e-affc9743e58c
1  392476  20158   0.152232  3b93e59c-fb2a-406a-ac7e-102900744e85

In [13]:
mem.mem()

188.21875

In [9]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [10]:
move_df = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [12]:
mem.reduce_mem_usage_automatic(move_df)

Memory usage of dataframe is 4.15 MB
Memory usage after optimization is: 4.15 MB
Decreased by 0.0%

In [21]:
mem.total_size(move_df)

4353220