In [1]:
import pandas as pd

In [2]:
from pymove.utils import copia as utils

In [85]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984094  116.319236 2008-10-23 05:53:05   1
2  39.984198  116.319322 2008-10-23 05:53:06   1
3  39.984224  116.319402 2008-10-23 05:53:11   1
4  39.984211  116.319389 2008-10-23 05:53:16   1

In [40]:
utils.elapsed_time_dt(df["datetime"][0])

342805918185

In [22]:
utils.diff_time(df["datetime"][0], df["datetime"][2])

1000

In [28]:
utils.working_day(df["datetime"][0], [df["datetime"][1], df["datetime"][2]])

False

In [29]:
utils.array_sum([2, 3, 4, 5])

14

In [5]:
utils.arrays_avg([2, 3, 4, 5])

TypeError: 'int' object is not subscriptable

In [8]:
utils.array_stats([2, 3, 4, 5])

(14, 54, 4)

In [10]:
utils.list_to_str(["arina", 3, 4])

'arina,3,4'

In [12]:
utils.list_to_csv_str(["arina", 3, 4])

'arina,3,4'

In [90]:
df.set_index("id", inplace=True)

In [91]:
utils.change_df_feature_values_using_filter(df, 0, "lon", {"filter_nodes", 5)

SyntaxError: invalid syntax (<ipython-input-91-9837db7ad0dc>, line 1)

In [111]:
lista_antiga = [1, 3 , "a",4, 2]
lista_nova = [1, 1, 3]

In [112]:
utils.fill_list_with_new_values(lista_antiga, lista_nova)

In [113]:
lista_antiga

[1, 1, 3, 4, 2]

In [101]:
lista_nova

[1, 1, 3]