In [1]:
import pandas as pd
import numpy as np

In [6]:
from pymove.preprocessing import segmentation
from pymove.utils import utils

In [4]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984094  116.319236 2008-10-23 05:53:05   1
2  39.984198  116.319322 2008-10-23 05:53:06   1
3  39.984224  116.319402 2008-10-23 05:53:11   1
4  39.984211  116.319389 2008-10-23 05:53:16   1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217654 entries, 0 to 217653
Data columns (total 4 columns):
lat         217654 non-null float64
lon         217654 non-null float64
datetime    217654 non-null datetime64[ns]
id          217654 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [7]:
bbox = utils.get_bbox(df)
bbox

(22.147577, 113.54884299999999, 41.132062, 121.156224)

In [12]:
segmentation.bbox_split(bbox, 4)

const_lat: 4.74612125
const_lon: 1.901845250000001

     lat_min     lon_min    lat_max     lon_max
0  22.147577  113.548843  41.132062  115.450688
1  22.147577  115.450688  41.132062  117.352533
2  22.147577  117.352533  41.132062  119.254379
3  22.147577  119.254379  41.132062  121.156224