In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
from pymove.utils import transformations

In [3]:
from pymove.preprocessing import segmentation

In [4]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217653 entries, 0 to 217652
Data columns (total 4 columns):
lat         217653 non-null float64
lon         217653 non-null float64
datetime    217653 non-null datetime64[ns]
id          217653 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [6]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [7]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)

In [8]:
segmentation.bbox_split(bbox, 4)

const_lat: 4.74612125
const_lon: 1.901845250000001

     lat_min     lon_min    lat_max     lon_max
0  22.147577  113.548843  41.132062  115.450688
1  22.147577  115.450688  41.132062  117.352533
2  22.147577  117.352533  41.132062  119.254379
3  22.147577  119.254379  41.132062  121.156224

In [9]:
df_move.generate_dist_time_speed_features()
df_move.generate_dist_features()

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.131 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.133

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217653/217653) 100% in 00:00:00.043 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.04530739784240723

In [10]:
segmentation.segment_trajectory_by_dist_time_speed(df_move)

Split trajectories
...max_time_between_adj_points: 7200
...max_dist_between_adj_points: 3000
...max_speed: 50.0
...setting id as index
(217653/217653) 100% in 00:00:00.023 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217653, 10)

/home/392476/Área de Trabalho/PyMove/pymove/preprocessing/segmentation.py:104: RuntimeWarning: invalid value encountered in greater
  (df_.at[idx, constants.DIST_TO_PREV] > max_dist_between_adj_points) | \
/home/392476/Área de Trabalho/PyMove/pymove/preprocessing/segmentation.py:105: RuntimeWarning: invalid value encountered in greater
  (df_.at[idx, constants.SPEED_TO_PREV] > max_speed_between_adj_points)

In [11]:
segmentation.segment_trajectory_by_speed(df_move)

Split trajectories by max_speed_between_adj_points: 50.0
...setting id as index
(217653/217653) 100% in 00:00:00.018 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217653, 11)

/home/392476/Área de Trabalho/PyMove/pymove/preprocessing/segmentation.py:194: RuntimeWarning: invalid value encountered in greater
  speed = (df_.at[idx, constants.SPEED_TO_PREV] > max_speed_between_adj_points)

In [12]:
segmentation.segment_trajectory_by_time(df_move)

Split trajectories by max_time_between_adj_points: 900.0
...setting id as index
(217653/217653) 100% in 00:00:00.022 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217653, 12)

/home/392476/Área de Trabalho/PyMove/pymove/preprocessing/segmentation.py:280: RuntimeWarning: invalid value encountered in greater
  times = (df_.at[idx, constants.TIME_TO_PREV] > max_time_between_adj_points)

In [13]:
df_move

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev,dist_to_next,dist_prev_to_next,tid_part,tid_speed,tid_time
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN,13.690153,NaN,1,1,1
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153,7.403788,20.223428,1,1,1
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758,1.821083,5.888579,1,1,1
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217,2.889671,1.873356,1,1,1
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934,66.555997,68.727260,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
217648,5,39.999896,116.327290,2009-03-19 05:46:02,7.198855,5.0,1.439771,5.291709,12.214590,405,185,367
217649,5,39.999899,116.327352,2009-03-19 05:46:07,5.291709,5.0,1.058342,6.241949,10.400206,405,185,367
217650,5,39.999945,116.327394,2009-03-19 05:46:12,6.241949,5.0,1.248390,8.462920,14.628012,405,185,367
217651,5,40.000015,116.327433,2009-03-19 05:46:17,8.462920,5.0,1.692584,4.713399,6.713456,405,185,367
217652,5,39.999978,116.327460,2009-03-19 05:46:37,4.713399,20.0,0.235670,NaN,NaN,405,185,367