In [1]:
from pymove.utils import mem

In [2]:
mem.get_proc_info()

     user    pid  memory_GB                             kernel_ID
0  392476  11797   0.239374  74efe612-927f-4c1f-88a6-bb5fd32bc65c
1  392476  11818   0.172012  11c38dd6-8a65-4c45-90cf-0da5db65fa99

In [7]:
mem.get_proc_info()

     user    pid  memory_GB                             kernel_ID
0  392476  11797   0.239374  74efe612-927f-4c1f-88a6-bb5fd32bc65c
1  392476  11818   0.173007  11c38dd6-8a65-4c45-90cf-0da5db65fa99
2  392476  11906   0.128922  6ae01b3c-2d32-4bcd-a00f-7201371d28ff
3  392476  11967   0.129368  5bab939c-495b-4865-982b-0a38f36dbc7e

In [8]:
mem.mem()

164.9921875

In [12]:
mem.get_proc_info()

     user    pid  memory_GB                             kernel_ID
0  392476  11797   0.239374  74efe612-927f-4c1f-88a6-bb5fd32bc65c
1  392476  11818   0.173036  11c38dd6-8a65-4c45-90cf-0da5db65fa99
2  392476  11906   0.128922  6ae01b3c-2d32-4bcd-a00f-7201371d28ff
3  392476  11967   0.167100  5bab939c-495b-4865-982b-0a38f36dbc7e

In [14]:
res = mem.mem()

In [16]:
res.type()

AttributeError: 'float' object has no attribute 'type'