In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
data = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [4]:
data.bla()

0         39.984094
1         39.984198
2         39.984224
3         39.984211
4         39.984217
            ...
217648    39.999896
217649    39.999899
217650    39.999945
217651    40.000015
217652    39.999978
Name: lat, Length: 217653, dtype: float64

In [ ]:
import pymove.core.PandasMoveDataFrame as mdf

data = mdf(....)
mdf.head()
mdf.readFile......