In [1]:
import pandas as pd
import numpy as np
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
data = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [4]:
type(data)

pymove.core.PandasMoveDataFrame.PandasMoveDataFrame

In [5]:
help(pd.core.frame.DataFrame.__new__)

Help on built-in function __new__:

__new__(*args, **kwargs) method of builtins.type instance
    Create and return a new object.  See help(type) for accurate signature.

In [6]:
data.write_file("test.csv")

In [7]:
data.len()

217653

In [8]:
data.info()

<class 'pymove.core.PandasMoveDataFrame.PandasMoveDataFrame'>
RangeIndex: 217653 entries, 0 to 217652
Data columns (total 4 columns):
lat         217653 non-null float64
lon         217653 non-null float64
datetime    217653 non-null datetime64[ns]
id          217653 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB