In [1]:
import pymove
from pymove import MoveDataFrame
import pandas as pd

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
move = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime")

move.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [82]:
list_data = [[39.984094, 116.319236, '2008-10-23 05:53:05', 1],
             [39.984198, 116.319322, '2008-10-23 05:53:06', 1],
             [39.984224, 116.319402, '2008-10-23 05:53:11', 1], 
             [39.984224, 116.319402, '2008-10-23 05:53:11', 1], 
             [39.984224, 116.319402, '2008-10-23 05:53:11', 1],
             [39.984224, 116.319402, '2008-10-23 05:53:11', 1]]
move_df = MoveDataFrame(data=list_data, latitude="lat", longitude="lon", datetime="datetime", traj_id="id")
move_df.head()

         lat         lon             datetime  id
0  39.984094  116.319236  2008-10-23 05:53:05   1
1  39.984198  116.319322  2008-10-23 05:53:06   1
2  39.984224  116.319402  2008-10-23 05:53:11   1
3  39.984224  116.319402  2008-10-23 05:53:11   1
4  39.984224  116.319402  2008-10-23 05:53:11   1

In [83]:
import pandas as pd

move_df['datetime'] = pd.to_datetime(move_df['datetime'])

In [84]:
#from pymove import clustering

In [85]:
#k = clustering.elbow_method(move_data=move_df[['lat', 'lon']], k_initial = 2, max_clusters = 17, k_iteration = 2)

In [86]:
#k

In [87]:
#a = clustering.gap_statistic(move_data=move_df[['lat', 'lon']])

In [88]:
#a

In [89]:
#from pymove import compression

In [90]:
#compression.compress_segment_stop_to_point_optimizer(move_df)

In [91]:
#compression.compress_segment_stop_to_point(move_df)

In [92]:
from pymove import filters

In [93]:
move_df.generate_dist_time_speed_features()

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(6/6) 100% in 00:00:00.013 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.017

In [94]:
move_df

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984224,116.319402,2008-10-23 05:53:11,0.000000,0.0,NaN
4,1,39.984224,116.319402,2008-10-23 05:53:11,0.000000,0.0,NaN
5,1,39.984224,116.319402,2008-10-23 05:53:11,0.000000,0.0,NaN

In [95]:
a = filters.clean_id_by_time_max(move_df, time_max=6.1)

Clean gps points with time max by id < 6.1 seconds
...Ids total: 1
Ids to drop:1
...Rows before drop: 6
 Rows after drop: 0

In [96]:
move_df

Empty PandasMoveDataFrame
Columns: [id, lat, lon, datetime, dist_to_prev, time_to_prev, speed_to_prev]
Index: []

In [100]:
type(a)

pandas.core.indexes.numeric.Int64Index