In [17]:
import pandas as pd
from pymove import MoveDataFrame

In [18]:
from pymove import compression

In [19]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [20]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [21]:
df_move

              lat         lon            datetime  id
0       39.984094  116.319236 2008-10-23 05:53:05   1
1       39.984198  116.319322 2008-10-23 05:53:06   1
2       39.984224  116.319402 2008-10-23 05:53:11   1
3       39.984211  116.319389 2008-10-23 05:53:16   1
4       39.984217  116.319422 2008-10-23 05:53:21   1
...           ...         ...                 ...  ..
217648  39.999896  116.327290 2009-03-19 05:46:02   5
217649  39.999899  116.327352 2009-03-19 05:46:07   5
217650  39.999945  116.327394 2009-03-19 05:46:12   5
217651  40.000015  116.327433 2009-03-19 05:46:17   5
217652  39.999978  116.327460 2009-03-19 05:46:37   5

[217653 rows x 4 columns]

In [22]:
compression.compress_segment_stop_to_point(move_data=df_move, dist_radius=1, time_radius=9)

Split trajectories by max distance between adjacent points: 1
...setting id as index

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

(217653/217653) 100% in 00:00:00.049 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.05130815505981445
id: 1 has not point to split
(1/217653) 0% in 00:00:00.180 - estimated end in 10:55:46.699
id: 5 has not point to split
... Reseting index

Total Time: 0.18 seconds
------------------------------------------


Creating or updating distance, time and speed features in meters by seconds

...Sorting by segment_stop and datetime to increase performance

...Set segment_stop as index to a higher peformance

...id:1, must have at least 2 GPS points

...id:2, must have at least 2 GPS points

...Reset index...

..Total Time: 0.176
Create or update stop as True or False
...Creating stop features as True or False using 9 to time in seconds
True     217651
False         2
Name: stop, dtype: int64

Total Time: 0.43 seconds
-----------------------------------------------------

...setting mean to lat and lon...
...move segments will be dropped...
...get only segments stop...

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

(217651/217651) 100% in 00:00:00.224 - estimated end in 00:00:00.000

...Dropping 217651 points...
...Shape_before: 217653
...Current shape: 2
...Compression time: 0.317 seconds
-----------------------------------------------------

In [23]:
df_move

,segment_stop,index,id,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,stop,lat_mean,lon_mean
0,0,0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,13.690153,NaN,NaN,NaN,True,40.013806,116.306493
217650,0,217652,5,39.999978,116.327460,2009-03-19 05:46:37,4.713399,NaN,NaN,20.0,0.23567,True,40.013806,116.306493