In [1]:
import pymove
from pymove import MoveDataFrame
import pandas as pd

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime")

move_df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
from pymove import clustering

In [4]:
k = clustering.elbow_method(move_data=move_df[['lat', 'lon']])

Executing Elbow Method to:
...K of 1 to 15 from k_iteration:1

HBox(children=(FloatProgress(value=0.0, max=14.0), HTML(value='')))

In [5]:
a = clustering.gap_statistic(move_data=move_df[['lat', 'lon']])

HBox(children=(FloatProgress(value=0.0, max=14.0), HTML(value='')))

In [6]:
k

{1: 1805642.6726973753,
 2: 55084.15957839036,
 3: 365.88396573989604,
 4: 245.68364869684163,
 5: 146.20083607781206,
 6: 92.30670637666557,
 7: 76.19095792456129,
 8: 61.25161364793507,
 9: 51.43832426456621,
 10: 43.26674942456126,
 11: 38.644721113446984,
 12: 33.63121007269693,
 13: 29.17361522915749,
 14: 25.902175399290094}

In [7]:
a

{1: -3.907733200246314,
 2: -0.8889158007504232,
 3: 3.6716635883686966,
 4: 3.6091330223109654,
 5: 3.959471632834026,
 6: 4.256347122659127,
 7: 4.309492670565199,
 8: 4.334951723922624,
 9: 4.361259128027003,
 10: 4.445121557715901,
 11: 4.456476516155856,
 12: 4.510104993056714,
 13: 4.56077014791155,
 14: 4.6232907955799}