# Importações

In [1]:
import pandas as pd

# Load Data

In [2]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.columns = ['lati', 'lng', 'time', 'a']
df.head()

        lati         lng                time  a
0  39.984094  116.319236 2008-10-23 05:53:05  1
1  39.984094  116.319236 2008-10-23 05:53:05  1
2  39.984198  116.319322 2008-10-23 05:53:06  1
3  39.984224  116.319402 2008-10-23 05:53:11  1
4  39.984211  116.319389 2008-10-23 05:53:16  1

# Convert longitude to X Spherical

In [5]:
from pymove.utils.transformations import lon2XSpherical
lon2XSpherical(-38.501597)

-4285978.172767829

# Convert latitude to Y Spherical

In [6]:
from pymove.utils.transformations import lat2YSpherical
lat2YSpherical(-3.797864)

-423086.2213610324

# Convert X Spherical to longitude

In [7]:
from pymove.utils.transformations import x2LonSpherical
x2LonSpherical(-4285978.17)

-38.50159697513617

# Convert Y Spherical to latitude

In [8]:
from pymove.utils.transformations import y2LatSpherical
y2LatSpherical(-423086.22)

-3.797863987800483

# Haversine