# Imports

In [1]:
import math
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm
from shapely.geometry import Polygon
import pickle
import matplotlib.pyplot as plt

# Load data

In [2]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
type(df)

pandas.core.frame.DataFrame

# Lat meters conversion

In [4]:
from pymove.core.grid import lat_meters

In [5]:
lat_meters(-3.8162973555)

110826.6722516857

# Create virtual Grid

In [6]:
from pymove.core.grid import create_virtual_grid

In [7]:
from pymove.utils.traj_utils import get_bbox

In [8]:
dic_grid = create_virtual_grid(15, get_bbox(df))

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:140266
grid_size_lon_x:56207

..A virtual grid was created

In [9]:
dic_grid

{'lon_min_x': 113.54884299999999,
 'lat_min_y': 22.147577,
 'grid_size_lat_y': 140266,
 'grid_size_lon_x': 56207,
 'cell_size_by_degree': 0.0001353464801860623}

# Create one polygon to point on grid

In [10]:
from pymove.core.grid import create_one_polygon_to_point_on_grid

In [11]:
create_one_polygon_to_point_on_grid(dic_grid, 1, 1)

# Create or update index grid feature

In [12]:
from pymove.core.grid import create_update_index_grid_feature

create_update_index_grid_feature(df, dic_grid)

Creating or updating index of the grid feature..

...[217653,217653] indexes were created to lat and lon

# Create all polygons to all point on grid

In [13]:
from pymove.core.grid import create_all_polygons_to_all_point_on_grid

In [14]:
create_all_polygons_to_all_point_on_grid(df, dic_grid)

Creating or updating index of the grid feature..

...[217653,217653] indexes were created to lat and lon

HBox(children=(IntProgress(value=0, max=35450), HTML(value='')))

...polygons were created

,index_grid_lat,index_grid_lon,polygon
0,131784,20468,"POLYGON ((39.98407754484003 116.3191147564483,..."
1,131784,20469,"POLYGON ((39.98407754484003 116.3192501029285,..."
2,131785,20470,"POLYGON ((39.98421289132022 116.3193854494087,..."
3,131784,20470,"POLYGON ((39.98407754484003 116.3193854494087,..."
5,131788,20473,"POLYGON ((39.98421289132022 116.3193854494087,..."
7,131788,20472,"POLYGON ((39.98461893076077 116.3197914888492,..."
8,131787,20472,"POLYGON ((39.98461893076077 116.3197914888492,..."
13,131787,20473,"POLYGON ((39.98461893076077 116.3196561423691,..."
14,131790,20474,"POLYGON ((39.98448358428059 116.3196561423691,..."
15,131791,20474,"POLYGON ((39.98448358428059 116.3196561423691,..."
16,131788,20474,"POLYGON ((39.98448358428059 116.3196561423691,..."
17,131788,20475,"POLYGON ((39.98448358428059 116.3196561423691,..."
18,131787,20476,"POLYGON ((39.98448358428059 116.3196561423691,..."
20,131787,20477,"POLYGON ((39.98448358428059 116.3197914888492,..."
21,131787,20478,"POLYGON ((39.98488962372114 116.3199268353294,..."
22,131786,20479,"POLYGON ((39.98502497020134 116.3199268353294,..."
23,131786,20480,"POLYGON ((39.98461893076077 116.3199268353294,..."
24,131785,20480,"POLYGON ((39.98461893076077 116.3200621818096,..."
29,131785,20481,"POLYGON ((39.98448358428059 116.3201975282898,..."
31,131786,20481,"POLYGON ((39.98448358428059 116.3201975282898,..."
35,131784,20481,"POLYGON ((39.98448358428059 116.32033287477, 3..."
36,131783,20481,"POLYGON ((39.98448358428059 116.3204682212502,..."
37,131782,20481,"POLYGON ((39.9843482378004 116.3206035677304, ..."
39,131781,20481,"POLYGON ((39.9843482378004 116.3207389142106, ..."
40,131780,20482,"POLYGON ((39.98421289132022 116.3207389142106,..."
41,131779,20482,"POLYGON ((39.98421289132022 116.3207389142106,..."
43,131778,20482,"POLYGON ((39.98421289132022 116.3207389142106,..."
44,131777,20482,"POLYGON ((39.98421289132022 116.3207389142106,..."
45,131776,20482,"POLYGON ((39.98421289132022 116.3207389142106,..."
46,131775,20482,"POLYGON ((39.98421289132022 116.3208742606907,..."
...,...,...,...
217518,131920,20472,"POLYGON ((40.01371842400079 116.306527533791, ..."
217519,131921,20472,"POLYGON ((40.01371842400079 116.306527533791, ..."
217521,131921,20473,"POLYGON ((40.01371842400079 116.306527533791, ..."
217523,131921,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217524,131920,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217527,131919,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217530,131918,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217533,131917,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217535,131916,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217537,131915,20475,"POLYGON ((40.01371842400079 116.306527533791, ..."
217539,131914,20474,"POLYGON ((40.01371842400079 116.306527533791, ..."
217540,131914,20475,"POLYGON ((40.01371842400079 116.306527533791, ..."
217541,131913,20475,"POLYGON ((40.01371842400079 116.306527533791, ..."
217543,131913,20476,"POLYGON ((40.01371842400079 116.306527533791, ..."
217547,131913,20479,"POLYGON ((40.01371842400079 116.306527533791, ..."
217549,131913,20480,"POLYGON ((40.01371842400079 116.306527533791, ..."
217550,131912,20480,"POLYGON ((40.01371842400079 116.306527533791, ..."
217551,131912,20481,"POLYGON ((40.01371842400079 116.306527533791, ..."
217554,131912,20482,"POLYGON ((40.01371842400079 116.306527533791, ..."
217556,131912,20483,"POLYGON ((40.01371842400079 116.306527533791, ..."
217571,131908,20491,"POLYGON ((40.01371842400079 116.306527533791, ..."
217573,131908,20492,"POLYGON ((40.01371842400079 116.306527533791, ..."
217576,131909,20494,"POLYGON ((40.01371842400079 116.306527533791, ..."
217578,131909,20495,"POLYGON ((40.01371842400079 116.306527533791, ..."
217579,131909,20496,"POLYGON ((40.01371842400079 116.306527533791, ..."
217584,131908,20499,"POLYGON ((40.01371842400079 116.306527533791, ..."
217587,131908,20501,"POLYGON ((40.01371842400079 116.306527533791, ..."
217589,131908,20502,"POLYGON ((40.01371842400079 116.306527533791, ..."
217615,131909,20518,"POLYGON ((40.01371842400079 116.306527533791, ..."
217619,131910,20520,"POLYGON ((40.01371842400079 116.306527533791, ..."

# Create all polygons on grid

In [15]:
from pymove.core.grid import create_all_polygons_on_grid

In [ ]:
create_all_polygons_on_grid(dic_grid)

Creating all polygons on virtual grid

# Get point to index grid

In [ ]:
from pymove.core.grid import point_to_index_grid

point_to_index_grid(39.984094, 116.319236, dic_grid)

# Save grid to .pkl

In [ ]:
from pymove.core.grid import save_grid_pkl

save_grid_pkl('teste.pkl', dic_grid)

# Read .pkl to grid

In [ ]:
from pymove.core.grid import read_grid_pkl

read_grid_pkl('teste.pkl')

# Show a grid polygons

In [ ]:
from pymove.core.grid import show_grid_polygons

show_grid_polygons(df, '1')