## Preprocessing trajectory data

Data preprocessing is a set of activities performed to prepare data for future analysis and data mining activities.

## Load data from file

The dataset used in this tutorial is GeoLife GPS Trajectories. Available in https://www.microsoft.com/en-us/download/details.aspx?id=52367

In [1]:
import pandas as pd
import numpy as np
from pymove import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [4]:
df_move.show_trajectories_info()

======================= INFORMATION ABOUT DATASET =======================

Number of Points: 217653

Number of IDs objects: 2

Start Date:2008-10-23 05:53:05     End Date:2009-03-19 05:46:37

Bounding Box:(22.147577, 113.54884299999999, 41.132062, 121.156224)


=========================================================================

## Filtering

The filters module provides functions to perform different types of data filtering.

Importing the module:

In [ ]:
from pymove import filters

A bounding box (usually shortened to bbox) is an area defined by two longitudes and two latitudes. The function by_bbox, filters points of the trajectories according to a especified bounding box.

In [ ]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)
filt_df = filters.by_bbox(df_move, bbox)
filt_df.head()

by_datetime function filters point trajectories according to the time specified by the parameters: start_datetime and end_datetime.

In [ ]:
filters.by_datetime(df_move,start_datetime = "2009-03-19 05:45:37", end_datetime = "2009-03-19 05:46:17")

by label function filters trajectories points according to specified value and column label, set by value and label_name respectively.

In [ ]:
filters.by_label(df_move, value = 116.327219, label_name = "lon").head()

by_id function filters trajectories points according to especified trajectory id.

In [ ]:
filters.by_id(df_move, id_=5).head()

A tid is the result of concatenation between the id and date of a trajectory.
The by_tid function filters trajectory points according to the tid specified by the tid_ parameter.

In [ ]:
df_move.generate_tid_based_on_id_datatime()
filters.by_tid(df_move, "12008102305").head()

outliers function filters trajectories points that are outliers.

In [ ]:
outliers_points = filters.outliers(df_move)
outliers_points.head()

clen_duplicates function removes the duplicate rows of the Dataframe, optionally only certaind columns can be consider.

In [ ]:
filters.clean_duplicates(df_move)

clean_consecutive_duplicates function removes consecutives duplicate rows of the Dataframe. Optionally only certaind columns can be consider, this is defined by the parameter subset, in this example only the lat column is considered.

In [ ]:
filtered_df = filters.clean_consecutive_duplicates(df_move, subset = ["lat"])
len(filtered_df)

clean_nan_values function removes missing values from the dataframe.

In [ ]:
filters.clean_nan_values(df_move)
len(df_move)

clean_gps_jumps_by_distance function removes from the dataframe the trajectories points that are outliers.

In [ ]:
filters.clean_gps_jumps_by_distance(df_move)

clean_gps_nearby_points_by_distances function removes points from the trajectories when the distance between them and the point before is smaller than the parameter radius_area.

In [ ]:
filters.clean_gps_nearby_points_by_distances(df_move, radius_area = 10)

clean_gps_nearby_points_by_speed function removes points from the trajectories when the speed of travel between them
and the point before is smaller than the value set by the parameter speed_radius.

In [ ]:
filters.clean_gps_nearby_points_by_speed(df_move, speed_radius=40.0)

clean_gps_speed_max_radius function recursively removes trajectories points with speed higher than the value especifeid by the user.
    Given any point p of the trajectory, the point will be removed if one of the following happens:
    if the travel speed from the point before p to p is greater than the  max value of speed between adjacent
    points set by the user. Or the travel speed between point p and the next point is greater than the value set by
    the user. When the clening is done, the function will update the time and distance features in the dataframe and
    will call itself again.
    The function will finish processing when it can no longer find points disrespecting the limit of speed.

In [ ]:
filters.clean_gps_speed_max_radius(df_move)

clean_trajectories_with_few_points function removes from the given dataframe, trajectories with fewer points than was specified by the parameter min_points_per_trajectory.

In [ ]:
filters.clean_trajectories_with_few_points(df_move)

## Segmantation

The segmentation module are used to segment trajectories based on different parameters.

Importing the module:

In [ ]:
from pymove import segmentation

bbox_split function splits the bounding box in grids of the same size. The number of grids is defined by the parameter number_grids.

In [ ]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)
segmentation.bbox_split(bbox, number_grids=4)

by_dist_time_speed functions segments the trajectories into clusters based on distance, time and speed. The distance, time and speed limits by the parameters by max_dist_between_adj_points, max_time_between_adj_points, max_speed_between_adj_points respectively. The column tid_part is added, it indicates the segment to which the point belongs to.

In [ ]:
segmentation.by_dist_time_speed(df_move, max_dist_between_adj_points=5000, 
                                max_time_between_adj_points=800,max_speed_between_adj_points=60.0)
df_move.head()

by_speed function segments the trajectories into clusters based on speed. The speed limit is defined by the parameter max_speed_between_adj_points. The column tid_speed is added, it indicates the segment to  which the point belongs to.

In [ ]:
segmentation.by_speed(df_move, max_speed_between_adj_points=70.0)
df_move.head()

by_time function segments the trajectories into clusters based on time. The time limit is defined by the parameter max_time_between_adj_points. The column tid_time is added, it indicates the segment to  which the point belongs to.

In [ ]:
segmentation.by_time(df_move, max_time_between_adj_points = 1000)
df_move.head()

segment_traj_by_max_dist function segments the trajectories into clusters based on distance. The distance limit is defined by the parameter max_dist_between_adj_points. The column tid_dist is added, it indicates the segment to which the point belongs to.

In [ ]:
segmentation.by_max_dist(df_move, max_dist_between_adj_points = 4000)
df_move.head()

## Stay point detection

A stay point is location where a moving object has stayed for a while within a certain distance threshold. A stay point could stand different places such: a restaurant, a school, a work place.

Importing the module:

In [6]:
from pymove import stay_point_detection

stay_point_detection function converts the time data into a cyclical format. The columns hour_sin and hour_cos are added to the dataframe.

In [ ]:
stay_point_detection.create_update_datetime_in_format_cyclical(df_move)

In [ ]:
df_move.head()

create_or_update_move_stop_by_dist_time function creates or updates the stay points of the trajectories, based on distance and time metrics. The column segment_stop is added to the dataframe, it indicates the trajectory segment to  which the point belongs to. The column stop is also added, it indicates is the point represents a stop, a place where the object was stationary.

In [7]:
stay_point_detection.create_or_update_move_stop_by_dist_time(df_move, dist_radius=40, time_radius=1000)

Split trajectories by max distance between adjacent points: 40

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217653/217653) 100% in 00:00:00.075 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.08178186416625977
...setting id as index

C:\Users\Arina\Desktop\PyMove\pymove\preprocessing\segmentation.py:427: RuntimeWarning: invalid value encountered in greater
  dist = (move_data.at[idx, DIST_TO_PREV] > max_dist_between_adj_points)

(217653/217653) 100% in 00:00:00.082 - estimated end in 00:00:00.000
... Reseting index

Total Time: 0.09 seconds
------------------------------------------


Creating or updating distance, time and speed features in meters by seconds

...Sorting by segment_stop and datetime to increase performance

...Set segment_stop as index to a higher peformance

(5/217653) 0% in 00:00:00.191 - estimated end in 02:18:56.870
(43995/217653) 20% in 00:00:00.236 - estimated end in 00:00:00.932
(88581/217653) 40% in 00:00:00.287 - estimated end in 00:00:00.418
(130800/217653) 60% in 00:00:00.353 - estimated end in 00:00:00.234
(174825/217653) 80% in 00:00:00.506 - estimated end in 00:00:00.124
...Reset index...

..Total Time: 0.608
Create or update stop as True or False
...Creating stop features as True or False using 1000 to time in seconds
True     157738
False     59915
Name: stop, dtype: int64

Total Time: 1.05 seconds
-----------------------------------------------------

In [8]:
df_move.head()

,segment_stop,id,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,stop
0,1,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,13.690153,NaN,NaN,NaN,False
1,1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,7.403788,20.223428,1.0,13.690153,False
2,1,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,1.821083,5.888579,5.0,1.480758,False
3,1,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,2.889671,1.873356,5.0,0.364217,False
4,1,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,66.555997,68.727260,5.0,0.577934,False

create_update_move_and_stop_by_radius function creates or updates the stay points of the trajectories, based on distance. The column situation is also added, it indicates if the point represents a stop point or a moving point.

In [ ]:
stay_point_detection.create_update_move_and_stop_by_radius(df_move, radius=2)

In [ ]:
df_move.head()

## Compression

Importing the module:

In [10]:
from pymove import compression

The function below is used to reduce the size of the trajectory, the stop points are used to make the compression.

In [11]:
compression.compress_segment_stop_to_point(df_move)

...setting mean to lat and lon...
...move segments will be dropped...
...get only segments stop...

HBox(children=(IntProgress(value=0, max=254), HTML(value='')))

(364/157738) 0% in 00:00:00.056 - estimated end in 00:00:24.579
(8437/157738) 5% in 00:00:00.215 - estimated end in 00:00:03.812
(15982/157738) 10% in 00:00:00.479 - estimated end in 00:00:04.255
(24336/157738) 15% in 00:00:00.816 - estimated end in 00:00:04.473
(31984/157738) 20% in 00:00:00.972 - estimated end in 00:00:03.824
(39733/157738) 25% in 00:00:01.154 - estimated end in 00:00:03.427
(48029/157738) 30% in 00:00:01.414 - estimated end in 00:00:03.230
(55252/157738) 35% in 00:00:01.642 - estimated end in 00:00:03.047
(71153/157738) 45% in 00:00:02.137 - estimated end in 00:00:02.601
(79310/157738) 50% in 00:00:02.324 - estimated end in 00:00:02.299
(95470/157738) 60% in 00:00:02.682 - estimated end in 00:00:01.749
(103968/157738) 65% in 00:00:02.962 - estimated end in 00:00:01.532
(110658/157738) 70% in 00:00:03.286 - estimated end in 00:00:01.398
(118491/157738) 75% in 00:00:03.799 - estimated end in 00:00:01.258
(126313/157738) 80% in 00:00:04.222 - estimated end in 00:00:01.050
(134289/157738) 85% in 00:00:04.693 - estimated end in 00:00:00.819
(142093/157738) 90% in 00:00:05.033 - estimated end in 00:00:00.554
(150070/157738) 95% in 00:00:05.445 - estimated end in 00:00:00.278
(157738/157738) 100% in 00:00:05.742 - estimated end in 00:00:00.000

...Dropping 217145 points...
...Shape_before: 217653
...Current shape: 508
...Compression time: 5.847 seconds
-----------------------------------------------------

In [13]:
df_move

,segment_stop,id,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,stop,lat_mean,lon_mean
195,6,1,39.981364,116.326798,2008-10-23 10:36:01,NaN,12.442111,57.678462,NaN,NaN,True,39.991524,116.326407
558,6,1,40.010720,116.314060,2008-10-23 10:56:50,16.445867,76.470304,77.194096,5.0,3.289173,True,39.991524,116.326407
561,9,1,40.009262,116.312948,2008-10-23 10:56:55,NaN,35.598360,100.606304,NaN,NaN,True,40.013824,116.306535
1368,9,1,39.990973,116.326094,2008-10-24 00:04:28,16.068387,40.942759,56.717519,2.0,8.034193,True,40.013824,116.306535
1575,13,1,39.978484,116.326845,2008-10-24 01:45:41,NaN,14.366909,50.322414,NaN,NaN,True,39.980124,116.310749
1847,13,1,39.980909,116.308171,2008-10-24 02:28:19,21.870376,51.683385,53.596809,1508.0,0.014503,True,39.980124,116.310749
1914,15,1,39.982334,116.308818,2008-10-24 03:16:35,NaN,14.205236,145.788854,NaN,NaN,True,39.979741,116.313612
2646,15,1,39.982684,116.311197,2008-10-24 05:40:23,6.437367,73.921445,72.942149,5.0,1.287473,True,39.979741,116.313612
2667,19,1,39.981691,116.310004,2008-10-24 06:09:34,NaN,19.612423,51.388287,NaN,NaN,True,39.981541,116.310107
3039,19,1,39.979459,116.325806,2008-10-24 06:33:05,5.697464,78.265156,83.404371,5.0,1.139493,True,39.981541,116.310107
3089,21,1,40.013812,116.306483,2008-10-24 23:44:05,NaN,7.587244,4358.356247,NaN,NaN,True,39.996381,116.299268
3924,21,1,39.997757,116.276764,2008-10-25 00:49:53,12.807471,320.654991,327.200429,2.0,6.403736,True,39.996381,116.299268
4033,24,1,40.004549,116.260581,2008-10-25 00:57:40,NaN,29.782502,275.332293,NaN,NaN,True,39.992475,116.204994
9082,24,1,39.992483,116.205002,2008-10-25 10:31:20,0.278711,66.635675,66.824979,2.0,0.139355,True,39.992475,116.204994
9258,28,1,40.002587,116.245163,2008-10-25 10:42:55,NaN,9.581952,1887.327005,NaN,NaN,True,39.996362,116.286608
10168,28,1,40.013812,116.306622,2008-10-25 23:14:35,5.917334,404.619469,404.277322,3.0,1.972445,True,39.996362,116.286608
10169,29,1,40.015166,116.311032,2008-10-25 23:40:05,NaN,24.879289,427.527978,NaN,NaN,True,40.031189,116.313866
10745,29,1,40.065047,116.293166,2008-10-26 00:05:03,14.683896,832.837119,844.069232,1.0,14.683896,True,40.031189,116.313866
10746,30,1,40.070887,116.299294,2008-10-26 00:05:48,NaN,22.262448,853.339816,NaN,NaN,True,40.069755,116.331024
11748,30,1,40.070100,116.296733,2008-10-26 03:10:28,21.196449,1007.933680,1017.921104,1.0,21.196449,True,40.069755,116.331024
12435,32,1,39.976599,116.387014,2008-10-26 03:45:46,NaN,4.280041,4535.822332,NaN,NaN,True,39.975650,116.385649
13839,32,1,39.978113,116.326761,2008-10-26 07:08:15,0.690670,505.102028,505.257483,5.0,0.138134,True,39.975650,116.385649
13842,34,1,39.977223,116.327262,2008-10-26 08:13:42,NaN,9.304585,373.345687,NaN,NaN,True,40.013805,116.306497
15689,34,1,40.013795,116.306502,2008-10-26 22:21:56,1.811438,78.491406,80.250827,39525.0,0.000046,True,40.013805,116.306497
15693,37,1,40.013992,116.306535,2008-10-26 23:47:03,NaN,16.790650,24.997219,NaN,NaN,True,40.014950,116.311317
16150,37,1,40.002462,116.321671,2008-10-27 00:17:01,9.150153,54.380990,63.512925,5.0,1.830031,True,40.014950,116.311317
16745,44,1,39.984849,116.326830,2008-10-27 04:32:15,NaN,21.095435,604.367650,NaN,NaN,True,39.977446,116.325821
17075,44,1,39.977723,116.325974,2008-10-27 04:55:07,0.931250,81.542107,81.597547,2.0,0.465625,True,39.977446,116.325821
17633,53,1,40.011195,116.313998,2008-10-27 12:04:46,NaN,20.101598,29.519812,NaN,NaN,True,40.012303,116.307884
17791,53,1,40.012310,116.307581,2008-10-27 12:27:54,13.734296,152.542523,166.231210,4.0,3.433574,True,40.012303,116.307884
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201310,3283,5,39.999387,116.326939,2009-01-16 12:59:58,NaN,4.956353,55.373153,NaN,NaN,True,39.977053,116.339284
201913,3283,5,39.976407,116.336870,2009-01-16 13:23:54,3.718263,54.725621,57.640615,5.0,0.743653,True,39.977053,116.339284
202128,3287,5,39.976684,116.336549,2009-01-16 13:40:05,NaN,4.947143,126.403398,NaN,NaN,True,39.976675,116.336601
202334,3287,5,39.976133,116.336547,2009-01-16 14:08:06,5.403988,53.338367,48.627678,4.0,1.350997,True,39.976675,116.336601
202335,3288,5,39.976594,116.336374,2009-01-16 14:09:03,NaN,6.411604,57.633581,NaN,NaN,True,39.975697,116.336035
202706,3288,5,39.974789,116.335120,2009-01-16 14:35:32,2.638475,112.687245,111.267406,5.0,0.527695,True,39.975697,116.336035
204597,3335,5,39.976091,116.336037,2009-01-16 18:19:11,NaN,14.584941,633.975490,NaN,NaN,True,39.976178,116.336199
206020,3335,5,39.976176,116.335944,2009-01-16 21:07:59,5.180888,62.986720,63.157675,2.0,2.590444,True,39.976178,116.336199
206021,3336,5,39.975994,116.335244,2009-01-16 21:08:26,NaN,0.717040,62.414116,NaN,NaN,True,39.976033,116.336186
206800,3336,5,39.977020,116.337718,2009-01-16 22:59:42,5.480050,40.117135,34.637103,2.0,2.740025,True,39.976033,116.336186
206801,3337,5,39.976807,116.337338,2009-01-16 22:59:44,NaN,15.973148,56.088907,NaN,NaN,True,39.976201,116.336258
207261,3337,5,39.975975,116.335851,2009-01-16 23:54:19,5.583204,72.044710,68.465215,3.0,1.861068,True,39.976201,116.336258
207721,3350,5,39.908299,116.590504,2009-01-17 08:51:28,NaN,21.518733,20985.599732,NaN,NaN,True,39.906999,116.457662
209008,3350,5,39.903551,116.419657,2009-01-17 09:28:03,6.296828,12819.978690,12825.985712,3.0,2.098943,True,39.906999,116.457662
209009,3351,5,39.994270,116.326845,2009-01-17 10:33:47,NaN,5.641112,12818.445704,NaN,NaN,True,39.995065,116.326601
209149,3351,5,39.995309,116.328426,2009-01-17 10:52:12,2.933556,47.286575,48.871189,5.0,0.586711,True,39.995065,116.326601
209156,3353,5,40.000044,116.326984,2009-01-19 10:15:53,NaN,13.127912,462.740492,NaN,NaN,True,40.009451,116.320408
209484,3353,5,40.009667,116.320185,2009-01-19 11:18:49,14.650605,43.250854,31.859196,1.0,14.650605,True,40.009451,116.320408
209547,3355,5,40.009885,116.322812,2009-01-19 12:58:52,NaN,18.676240,179.334177,NaN,NaN,True,40.009530,116.322340
210986,3355,5,39.999945,116.327439,2009-01-19 14:08:11,2.734828,188.595658,186.157032,5.0,0.546966,True,40.009530,116.322340
213917,3394,5,40.001810,116.324507,2009-02-22 05:50:15,NaN,37.840898,96.453841,NaN,NaN,True,40.004978,116.322385
214183,3394,5,39.993629,116.325744,2009-02-22 07:25:50,38.435488,41.547820,8.894404,165.0,0.232942,True,40.004978,116.322385
215172,3416,5,40.000630,116.321953,2009-02-22 11:27:58,NaN,16.210203,1062.981283,NaN,NaN,True,40.010956,116.321853
215408,3416,5,40.010478,116.321621,2009-02-22 11:46:48,7.790798,453.726888,460.352157,5.0,1.558160,True,40.010956,116.321853
215984,3433,5,40.002918,116.321179,2009-02-27 15:25:04,NaN,25.053212,23.671225,NaN,NaN,True,40.008942,116.316356
216201,3433,5,40.008930,116.316370,2009-02-27 15:43:04,1.223751,520.627318,521.086232,5.0,0.244750,True,40.008942,116.316356
216653,3478,5,40.003937,116.322378,2009-03-12 09:31:37,NaN,6.449310,755.567765,NaN,NaN,True,40.009575,116.320279
216775,3478,5,40.010744,116.321708,2009-03-12 10:20:22,5.602528,3852.500156,3857.760050,5.0,1.120506,True,40.009575,116.320279
217072,3487,5,40.008938,116.322648,2009-03-14 05:32:32,NaN,14.709253,73.928901,NaN,NaN,True,39.990095,116.327873
217452,3487,5,39.990464,116.333510,2009-03-14 06:47:12,0.452865,1355.321240,1354.956396,2.0,0.226432,True,39.990095,116.327873