In [1]:
import pandas as pd
import numpy as np
from pymove import MoveDataFrame

In [2]:
from pymove import segmentation

In [3]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217653 entries, 0 to 217652
Data columns (total 4 columns):
lat         217653 non-null float64
lon         217653 non-null float64
datetime    217653 non-null datetime64[ns]
id          217653 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [5]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [6]:
df_move.loc[0, "lat"]

39.984094

In [7]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)

In [8]:
df_move._data["lat"][0]

39.984094

In [9]:
segmentation.bbox_split(bbox, 4)

const_lat: 4.74612125
const_lon: 1.901845250000001

     lat_min     lon_min    lat_max     lon_max
0  22.147577  113.548843  41.132062  115.450688
1  22.147577  115.450688  41.132062  117.352533
2  22.147577  117.352533  41.132062  119.254379
3  22.147577  119.254379  41.132062  121.156224

In [10]:
segmentation.by_dist_time_speed(df_move)

Split trajectories
...max_time_between_adj_points: 7200
...max_dist_between_adj_points: 3000
...max_speed: 50.0

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.176 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.179
...setting id as index
(217653/217653) 100% in 00:00:00.047 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217653, 8)

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:116: RuntimeWarning: invalid value encountered in greater
  (move_data.at[idx, DIST_TO_PREV] > max_dist_between_adj_points) | \
/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:117: RuntimeWarning: invalid value encountered in greater
  (move_data.at[idx, SPEED_TO_PREV] > max_speed_between_adj_points)

In [11]:
segmentation.by_speed(df_move)

Split trajectories by max_speed_between_adj_points: 50.0
...setting id as index
(217653/217653) 100% in 00:00:00.028 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217653, 9)

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:219: RuntimeWarning: invalid value encountered in greater
  speed = (move_data.at[idx, SPEED_TO_PREV] > max_speed_between_adj_points)

In [12]:
segmentation.by_time(df_move)

Split trajectories by max_time_between_adj_points: 900.0
...setting id as index
(217653/217653) 100% in 00:00:00.042 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (217653, 10)

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:320: RuntimeWarning: invalid value encountered in greater
  times = (move_data.at[idx, TIME_TO_PREV] > max_time_between_adj_points)